<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="sch-title">
        <h3>Make One-Time Payment: (freelancer name)</h3>
      </div>

      <div class="d-wrapper pm-wrapper">
        <div class="d-setting-item clearfix">
          <div class="d-setting-label fweight">Payment Type</div>
          <div class="d-setting-right">
            <select name="" id="" class="select" style="width:360px;">
              <option value="">please select...</option>
              <option value="Bonus">Bonus</option>
              <option value="Bonus">Expense Eeimbursement</option>
            </select>
          </div>
        </div>
        <div class="d-setting-item clearfix">
          <div class="d-setting-label fweight">Amount</div>
          <div class="d-setting-right">
            $<input type="text" class="dlg-input txright" style="width:60px;" value="0.00"/>
          </div>
        </div>
        <div class="d-setting-item clearfix">
          <div class="d-setting-label fweight">Description</div>
          <div class="d-setting-right">
            <div class="ds-text">
              <input type="text" class="dlg-input txright" style="width:400px;"/>
              <br/>
              <span class="size12">This description will be sent to the freelancer along with your payment.</span>
            </div>
          </div>
        </div>
        <div class="d-setting-item clearfix">
          <div class="d-setting-label"><span class="fweight">Note on Invoice</span><br/>(optional)</div>
          <div class="d-setting-right">
            <textarea class="pm-textarea" style="width:400px;" cols="80" rows="3"></textarea>
            <br/>
            <span class="size12">This note will be added to the invoice for personal reference. The freelancer will not see this note.</span>
          </div>
        </div>

        <div class="d-setting-item clearfix">
          <div class="d-setting-label">&nbsp;</div>
          <div class="d-setting-right fweight">
            Your account will be charged within the next 24 hours. The freelancer will receive funds after the standard hold period.
          </div>
        </div>

      </div>

      <div class="btn-wrapper">
        <button class="btn btn-primary ald-btn-primary">Make Payment</button>
        <a href="javascript:;" class="link-underline fweight">Cancel</a>
      </div>

    </div>
  </div>
</div>
