<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="sch-title">
        <h3>Switch Contract to Hourly</h3>
      </div>

      <div class="sch-label">
        You are about to switch your contract with xxx to hourly billing.
      </div>
      <div class="sch-label">
        You will be asked to:
      </div>
      <ul class="sch-list">
        <li>Decide how much to pay for the work done so far</li>
        <li>Leave feedback for xxx the work done so far</li>
      </ul>
      <div class="sch-label">
        You will be asked to:
      </div>
      <ul class="sch-list">
        <li>Your profile will be updated with the amount you paid (your profile appears at the top of your job postings)</li>
        <li>xx will be asked to leave feedback for you, which will also appear on your profile</li>
        <li>You will be billed each week for hours xx logs with the Upwork Work Diary <a href="javascript:;" class="link-underline">(what is this?)</a></li>
        <li>An hourly offer will be sent to xx to start the new contract</li>
      </ul>

      <div class="btn-wrapper">
        <button class="btn btn-primary ald-btn-primary">Continue</button>
        <a href="javascript:;" class="link-underline fweight">Cancel</a>
      </div>

    </div>
  </div>
</div>
