@charset "utf-8";
body {
  font-family: 'Gotham Book', 'microsoft yahei';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  /*font-family:'Gotham Medium','Gotham Light','Gotham Book','sans-serif'; */
}
@font-face {
  font-family: 'iconfont';
  src: url('../images/icon/iconfont.eot');
  /* IE9*/
  src: url('../images/icon/iconfont.eot?#iefix') format('../images/icon/embedded-opentype'), /* IE6-IE8 */ url('../images/icon/iconfont.woff') format('woff'), /* chrome、firefox */ url('../images/icon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../images/icon/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.page-title {
  font-size: 18px;
  margin-left: 30px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.lg-icon {
  font-size: 20px;
}
.llg-icon {
  font-size: 35px;
}
/**
	base on bootstrap custom style 
**/
.ald-input {
  height: 35px;
  padding: 6px 12px;
  border: 2px solid #E0E0E0;
  border-radius: 2px;
}
.ald-input:focus,
ald-input:hover {
  border-color: #37A000;
}
.ald-btn-primary {
  border-radius: 3px;
  font-weight: 600;
  vertical-align: top;
  background: #37A000;
  border-color: #2e8700;
}
.ald-btn-primary:active,
.ald-btn-primary:active:focus {
  background: #256d00;
}
.ald-btn-primary:focus,
.ald-btn-primary:hover {
  background: #2e8700;
}
.btn-full {
  width: 100%;
  background: #37A000;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.btn-full:hover,
.btn-full:focus {
  background: #2e8700;
  color: white;
}
.ald-body {
  background: #F9F9F9;
}
a,
.ald-link {
  color: #37A000;
}
.link-underline:focus,
.link-underline:hover {
  text-decoration: underline;
}
a:hover,
a:focus,
.ald-link:hover,
.ald-link:focus {
  color: #2e8700;
  text-decoration: none;
}
.icon-active {
  color: #37A000;
}
.icon-unactive {
  color: #E0E0E0;
}
.icon-link:hover {
  text-decoration: none;
}
.panel-title {
  font-size: 13px;
  color: #979797;
}
.ald-list-group > li > a {
  font-size: 12px;
}
.item-link {
  display: block;
  margin: 6px;
  font-size: 12px;
}
.item-link:hover {
  text-decoration: none;
}
.ald-col-xs-3 {
  width: 20%;
  padding-left: 10px;
  padding-right: 10px;
}
.ald-col-xs-6 {
  width: 60%;
  padding-left: 10px;
  padding-right: 10px;
}
.nothing-box {
  padding: 25px 40px;
  font-size: 22px;
  font-weight: 300;
  border: 1px solid #E0E0E0;
  margin-top: 35px;
  margin-bottom: 35px;
  background: white;
}
.nothing-box-icon {
  font-size: 22px;
}
/*
	globe set
*/
.header {
  background: #ffffff;
}
.container {
  width: 1100px;
  max-width: 1100px;
}
/**
	navi style
**/
.mynav-bar {
  border: none;
  margin-bottom: 0px;
  background: #ffffff;
}
.mynavbar-brand {
  padding-top: 5px;
  padding-bottom: 15px;
}
.nav > li > a {
  padding-bottom: 0px;
  padding-top: 0px;
}
.nav-left-ul > li {
  padding-top: 25px;
  padding-bottom: 25px;
}
.nav-left-ul > li:first-child > a {
  color: #37A000;
}
.nav-left-ul > li:first-child > a:hover,
.nav-left-ul > li:first-child > a:focus {
  color: #37A000;
}
.navbar .nav-left-ul > li:not(:first-child) > a:hover,
.navbar .nav-left-ul > li:not(:first-child) > a:focus {
  color: #2e8700;
}
.nav-right-ul > li {
  padding-top: 20px;
}
.nav-right-ul .nav-right-item {
  padding-top: 25px;
}
.icon-nav {
  font-size: 20px;
  color: #aaaaaa;
}
.header-container {
  width: 1100px;
  text-align: left;
  margin: 0px auto;
}
.sub-nav-container {
  width: 100%;
  background: #252523;
}
.sub-nav-bar {
  width: 1100px;
  background: #252523;
}
.sub-nav-bar > li > a {
  color: #eeeeee;
  padding-bottom: 10px;
  padding-top: 10px;
}
.sub-nav-bar > li > a:hover,
ul.sub-nav-bar > li > a:focus {
  color: white;
  background: transparent;
}
.sub-nav-bar .sub-nav-bar-active {
  color: #ffffff;
}
/**end navi style**/
/********自定义组件*********/
.tag {
  font-size: 10px;
  display: inline-block;
  background: #E0E0E0;
  margin: 5px 5px;
  padding: 2px 7px;
  color: #494949;
  border-radius: 20px;
}
.tag i {
  font-size: 12px;
}
.tag-edit:hover::after {
  font-family: "iconfont" !important;
  content: " \e61c";
}
.ald-dropdown-toggle .caret {
  float: right;
  margin-right: 5px;
  margin-top: 7px;
}
.ald-dropdown-toggle {
  padding: 4px;
  border: 2px solid #E0E0E0;
  display: block;
  width: 100%;
  zoom: 1;
}
.ald-dropdown-toggle:after {
  content: "020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.ald-dropdown-toggle:hover {
  border-color: #37A000;
}
.ald-dropdown-menu {
  padding: 0px;
  margin-top: -2px;
}
.ald-dropdown-menu li {
  padding: 8px;
  cursor: pointer;
  border: 2px white solid;
  border-bottom: 1px solid #E0E0E0;
  color: #494949;
}
.ald-dropdown-menu li:hover {
  border: 2px solid #37A000;
}
.btn-radio-active {
  background: #37A000;
  color: white;
  border: 2px solid #37A000;
}
.btn-group .btn-radio-active {
  color: white;
}
.btn-radio-unactive {
  background: white;
  color: #494949;
  border: 2px solid #E0E0E0;
  z-inddex: 3;
}
.btn-radio-unactive:hover {
  border-color: #37A000;
  color: #37A000;
}
.btn-radio-yes {
  padding: 3px 12px;
  border-right: none;
}
.btn-radio-no {
  padding: 3px 12px;
  border-left: none;
}
/***********end 自定义组件***************/
/** tab **/
.tab-bar {
  list-style: none;
  padding: 0 0px 11px 0px;
  margin: 0px 40px;
  border-bottom: 2px solid #E0E0E0;
}
.tab-bar li {
  display: inline-block;
}
.tab-bar li a {
  padding: 10px 30px;
  font-size: 18px;
  color: #979797;
}
.tab-bar li a:hover {
  color: #37A000;
}
.tab-bar li .active {
  border-bottom: 4px solid #37A000;
  color: #37A000;
}
/**end tab**/
.dropdown-menu-user .login-option {
  border: 2px solid #979797;
  color: #979797;
  display: inline-block !important;
  width: 140px;
  text-align: center;
  padding-bottom: 6px;
  padding-top: 6px;
}
.dropdown-menu-user > li {
  padding: 10px;
  width: 300px;
}
.dropdown-menu-user .login-unselect:hover {
  border: 2px solid #37A000;
  color: #37A000;
}
.dropdown-menu-user .login-select {
  background: #37A000;
  color: white;
  border-color: #37A000;
}
.dropdown-menu-user .login-select:hover {
  background: #37A000;
  color: white;
  border-color: #37A000;
  border: 2px solid #37A000;
}
.dropdown-menu-user .menu-item {
  border-top: 1px solid #E0E0E0;
}
.dropdown-menu-user .menu-item:hover {
  border: 2px solid #37A000;
}
.dropdown-menu-user .menu-item > a {
  padding: 10px;
  color: #979797;
}
.dropdown-menu-user .menu-item > a:hover {
  background: none;
  color: #37A000;
}
.dropdown-menu-user .menu-item > a:hover .account-name {
  color: #37A000;
}
.img-icon {
  width: 30px;
  vertical-align: top;
}
.freelancer > p {
  margin-left: 12px;
  font-size: 12px;
  color: #979797;
}
.freelancer > img,
.freelancer > div {
  display: inline-block;
}
.footer {
  background: #252523;
  color: #7d7d7d;
  margin-top: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer a {
  color: #7d7d7d;
}
.footer-list,
.footer-list li,
.footer-list1,
.footer-list1 li {
  list-style: none;
}
.footer-list > li {
  line-height: 200%;
}
.footer-list1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.footer-list1 li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.footer-list1 > li > a {
  display: inline-block;
}
.footer-list1 > li > a:hover {
  text-decoration: none;
}
.copyright {
  text-align: center;
}
.logo {
  height: 60px;
}
.photo-sm-box {
  width: 65px;
  height: 65px;
  overflow: hidden;
}
.photo-sm {
  height: 65px;
}
.photo-100 {
  height: 100px;
}
.account_img {
  height: 30px;
}
.find-work-label {
  color: #252523;
  font-weight: 100;
  font-size: 26px;
  margin-top: 10px;
  margin-left: 10px;
}
.search-input {
  width: 465px;
}
.advanced-search {
  margin-top: 8px;
}
.advanced-search-btn {
  font-size: 13px;
}
.tag-item {
  display: inline-block;
  border-radius: 6px;
  background: #E0E0E0;
  padding: 3px 8px;
  font-size: 12px;
  font-size: 11px;
  font-weight: normal;
  margin-left: 5px;
  margin-right: 5px;
  color: #494949;
}
.tag-item:hover {
  text-decoration: none;
  background: #37A000;
  color: white;
}
.rss-1,
.rss-2 {
  border-radius: 4px;
  display: block;
  margin-bottom: 10px;
  opacity: 0.85;
  padding: 10px 0;
  text-align: center;
}
.rss-1:hover {
  opactiy: 1;
  background: #F2F2F0;
  text-decoration: none;
}
.rss-2 {
  opatity: 1;
  background: #f2f2f2;
}
.rss-2:hover {
  text-decoration: none;
}
.feed-header {
  line-height: 25px;
  font-size: 18px;
  font-weight: 300;
  color: #252523;
}
.job-title {
  margin: 10px 0px;
  font-size: 16px;
  pading: 0px 20px;
}
.job-title-item,
.job-title-item-cert {
  font-size: 16px;
  vertical-align: top;
}
.job-title-item-cert {
  font-weight: 700;
}
.job-detail {
  font-weight: 400;
  color: #494949;
  font-size: 11px;
}
.job-desc {
  line-height: 150%;
  margin: 8px 0px;
  font-size: 12px;
}
.info-progress-bar {
  border: 1px solid #37A000;
  display: inline-block;
  height: 16px;
  margin-bottom: 1px;
  vertical-align: bottom;
  width: 100px;
}
.info-progress-bar > div {
  height: 14px;
  background: #37A000;
  width: 70px;
}
.percentage {
  color: #37A000;
  font-size: 12px;
}
/**my-stats**/
.mystats-box {
  border: 1px solid #E0E0E0;
  background: white;
  margin-bottom: 50px;
}
.msc-left-item {
  float: left;
}
.mystats-box-left,
.mystats-box-right {
  float: left;
  padding: 0px;
  margin: 0px;
}
.mystats-box-left {
  border-right: 1px solid #E0E0E0;
  padding: 30px 0px 60px 30px;
  width: 75%;
}
.mystats-box-right {
  width: 25%;
  vertical-align: top;
  padding-left: 35px;
}
.msc-title {
  font-weight: 500px;
  color: #494949;
  margin-bottom: 40px;
  width: 100%;
}
.msc-item {
  padding: 10px 0px;
  margin-left: 65px;
}
.msc-item > span {
  display: inline-block;
  width: 45%;
}
.msc-item-text {
  font-weight: 600;
  vertical-align: top;
}
.mystats-box-right > p {
  padding-top: 40px;
  padding-right: 30px;
}
.msc-percent-draw {
  width: 210px;
  height: 210px;
}
.msc-update-client {
  color: #37A000;
  font-weight: 500;
  padding: 20px 0px;
}
.msc-percent-draw-example {
  border-radius: 50%;
  background: #37A000;
}
.msc-sub-title {
  padding-bottom: 35px;
  display: block;
}
.msc-chart-bar {
  padding: 20px 0px;
}
.msc-chart-draw {
  display: inline-block;
  border: 1px solid #37A000;
  padding-left: 0px;
}
.msc-chart-draw > div {
  width: 79%;
  background: #37A000;
  height: 14px;
}
/**end my-stats**/
/***********my profile css***************/
.mp-title {
  margin-bottom: 25px;
}
.mp-title > h3,
.mp-title > div {
  display: inline-block;
}
.mp-title-text {
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
  font-size: 18px;
}
.mp-title-hover:hover::after {
  font-family: "iconfont" !important;
  color: #37A000;
  content: " \e629";
  font-size: 18px;
}
.mp-list {
  list-style: none;
  padding-left: 0px;
}
.mp-user-photo {
  padding-right: 30px;
  display: inline-block;
}
.mp-box {
  padding: 30px;
  margin-bottom: 30px;
  background: white;
  border: 1px solid #E0E0E0;
}
.mp-overview > div {
  float: left;
}
.mp-user-photo {
  width: 25%;
}
.mp-user-info1 {
  width: 75%;
}
.my-user-name-label a {
  font-weight: 400;
  font-size: 18px;
  color: #494949;
}
.mp-job-title {
  font-weight: 600;
  color: #494949;
  font-size: 15px;
}
.mp-user-base:hover a {
  background: #D3EAC7;
  color: #494949;
}
.mp-user-base:hover a::after,
.mp-skils-container:hover::after,
.mp-overview-container:hover .mp-overview-label::after,
.mp-availability:hover > h4::after {
  font-family: "iconfont" !important;
  content: " \e608";
  cursor: pointer;
  background: #D3EAC7;
  vertical-align: top;
  font-size: 16px;
}
.mp-user-location {
  color: #494949;
}
.mp-skils-container:hover > a {
  background: #D3EAC7;
}
.mp-skils-container > a:hover {
  color: #494949;
}
.mp-overview-label {
  font-size: 18px;
  font-weight: 400;
  color: #494949;
  margin: 20px 0px;
  cursor: pointer;
  display: inline-block;
}
.mp-overview-text {
  border: none;
  box-shadow: none;
  overflow-y: hidden;
  overflow-x: hidden;
  background: none;
}
.mp-overview-text {
  cursor: pointer;
}
.mp-overview-container:hover .mp-overview-label,
.mp-overview-container:hover .mp-overview-text {
  background: #D3EAC7;
}
.filter-selected-label {
  width: 210px;
  display: inline-block;
  font-size: 12px;
}
.mp-works-left {
  width: 65%;
  float: left;
}
.mp-works-right {
  width: 35%;
  float: left;
}
.mp-works > li {
  margin: 20px 0px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E0E0E0;
}
.mp-works-name {
  font-size: 15px;
  font-weight: 700;
}
.mp-works-left > a,
.mp-works-left > div {
  display: block;
  padding: 4px 0px;
}
.mp-works-stars {
  font-size: 12px;
  color: #37A000;
}
.mp-works-score-num {
  display: inline-block;
  vertical-align: middle;
}
.mp-works-appraise {
  line-height: 180%;
  font-style: oblique;
  color: #979797;
}
.mp-works-total-time {
  font-size: 15px;
  font-weight: 700;
}
.mp-works-right > div {
  text-align: right;
  padding: 2px 0px;
}
.mp-work-filter-label {
  width: 240px;
}
.mp-work-filter-options {
  width: 240px;
}
.mp-protfolio-filter {
  width: 300px;
}
.mp-protfolio-filter-options {
  width: 300px;
}
li.mp-pf-item {
  cursor: pointer;
  display: inline-block;
  margin: 0px 20px;
  margin-bottom: 20px;
}
.mp-pf-item:hover img {
  opacity: 0.4;
}
.mp-pf-item:hover .mp-pf-text {
  background: #D3EAC7;
}
.mp-pf-thumb {
  position: relative;
  width: 320px;
  height: 200px;
  overflow: hidden;
}
.mp-pf-thumb img {
  width: 320px;
  height: 200px;
  background: #000;
}
.mp-pf-text {
  margin: 10px 0px;
  display: inline-block;
}
.mp-pf-controls {
  position: absolute;
  top: 80px;
  left: 100px;
  background: white;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 1px rgba(110, 110, 110, 0.2);
}
.mp-pf-controls > a {
  font-size: 18px;
  margin: 0px 4px;
}
.mp-test-item-score {
  display: inline-block;
  margin-right: 15px;
}
.test-sort-first {
  border-radius: 5px;
  font-size: 12px;
  padding: 3px 5px;
  background: #FEC324;
  color: white;
}
.test-sort-top1 {
  border-radius: 5px;
  font-size: 12px;
  padding: 3px 5px;
  background: #0682D1;
  color: white;
}
.test-sort-top2 {
  border-radius: 5px;
  font-size: 12px;
  padding: 3px 5px;
  background: #00A0E8;
  color: white;
}
.test-sort-failed {
  font-size: 14px;
  color: #EF4B0A;
}
.test-sort-blowavg {
  border-radius: 5px;
  font-size: 12px;
  padding: 3px 5px;
  background: #E55414;
  color: white;
}
.test-sort-normal {
  color: #494949;
}
.mp-other-item > span:first-child {
  display: inline-block;
  font-size: 15px;
  color: #494949;
  font-weight: 700;
  padding: 0px;
  margin-bottom: 10px;
}
.mp-other-item > span {
  font-size: 13px;
  padding: 0px;
  line-height: 150%;
}
.mp-other-item {
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 30px;
  margin-bottom: 35px;
  cursor: pointer;
}
.mp-other-item:last-child {
  border: none;
  margin-bottom: 0px;
  padding-bottom: 15px;
}
.mp-other:hover .mp-otner-title::after {
  font-family: "iconfont" !important;
  color: #37A000;
  content: " \e629";
  font-size: 24px;
}
.mp-other-item:hover > span {
  background: #D3EAC7;
}
.mp-other-edit {
  display: inline-block;
}
.mp-other-edit i {
  background: #D3EAC7;
}
.mp-right-container > div {
  margin-top: 25px;
  margin-bottom: 25px;
}
.mp-view-moreprofile {
  font-size: 13px;
}
.mp-job-percent-full {
  width: 100%;
}
.mp-job-percent {
  width: 80%;
  background: #14BFF4;
  height: 4px;
}
.mp-right-item > h4 {
  font-size: 13px;
  display: inline-block;
  font-weight: 700;
  color: #494949;
  margin-top: 4px;
  margin-bottom: 4px;
}
.mp-right-item > p {
  font-size: 13px;
  display: inline-block;
  color: #565656;
  line-height: 140%;
  margin-top: 2px;
  margin-bottom: 2px;
}
.mp-availability:hover h4,
.mp-availability:hover p {
  background: #D3EAC7;
}
.mp-copy-link {
  font-size: 12px;
}
.mp-languages:hover > h4,
.mp-languages:hover > p {
  background: #D3EAC7;
}
.mp-languages:hover > h4::after {
  font-family: "iconfont" !important;
  content: " \e608";
  cursor: pointer;
  background: #D3EAC7;
  vertical-align: top;
  font-size: 16px;
}
.mp-associated > div {
  float: left;
}
.mp-associated-icon > i {
  font-size: 64px;
  color: #626262;
}
.mp-associated-label {
  margin-left: 20px;
  margin-top: 25px;
  font-size: 13px;
}
/*********end my profile css***************/
