@charset "utf-8";

@pageWidth: 1100px;
@baseColor: #37A000;
@navBackground: #ffffff;
@unactive: #E0E0E0;
@active: @baseColor;

@white: white;
@black:black;
@blue: #14BFF4;
@dilutedColor: #494949;
@normalColor: #252523;
@lightColor: #979797;
@footerFontColor: #7d7d7d;
@lightGrayColor: #E0E0E0;
@btnblue: #0369a0;

@smSize: 10px;
@mSize: 12px;
@lSize: 14px;
@xlSize: 16px;
@xxlSize:18px;
@bigSize:22px;
@bigerSize: 26px;
@bigestSize: 30px;


