<!-- tpl {"parent": "app/template/nologin.tpl.html",
   "title": "Create an Account", "js":["/scripts/app.js"]
 } -->
<div class="container  m-lg-bottom m-lg-top">
    <div class="row m-lg-top m-lg-bottom">
        <div class="col-xs-12">
            <hgroup class="txcenter sign-index-title">
                <h2 class="m-xs-top-bottom">Let's get started!</h2>
                <h2 class="m-xs-top-bottom">First, tell us what you're looking for.</h2>
            </hgroup>
        </div>
    </div>
    <div class="row m-lg-top m-lg-bottom">
        <div class="col-md-12 txcenter m-lg-top">
            <div class="col-md-5">
                <div class="o-user-type-selection">I want to hire a freelancer</div>
                <p class="fs-sm m-lg-bottom m-lg-top">
                    Find, collaborate with,
                    <br />
                    and pay an expert.
                </p>
                <a class="btn btn-default sign-up-type-link" href="/signup/create-account/client_direct.html">Hire</a>
            </div>
            <div class="col-md-2 o-or-divider">OR</div>
            <div class="col-md-5">
                <div class="o-user-type-selection">I'm looking for online work</div>
                <p class="fs-sm m-lg-bottom m-lg-top">
                    Find freelance projects and
                    <br />
                    grow your business.
                </p>
                <a class="btn btn-default sign-up-type-link" href="/signup/create-account/freelancer_direct.html">Work</a>
            </div>
        </div>
    </div>
</div>

