<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<ul class="footer-list">
						<li><a href="javascript:;">关于我们</a></li>
						<li><a href="javascript:;">博客</a></li>
						<li><a href="javascript:;">反馈</a></li>
					</ul>
				</div>
				<div class="col-xs-3">
					<ul class="footer-list">
						<li><a href="javascript:;">社区</a></li>
						<li><a href="javascript:;">信任 & 安全</a></li>
						<li><a href="javascript:;">帮助 & 支持</a></li>
					</ul>
				</div>
				<div class="col-xs-3">
					<ul class="footer-list">
						<li><a href="javascript:;">服务条款</a></li>
						<li><a href="javascript:;">隐私政策</a></li>
						<li><a href="javascript:;">Cookie Policy</a></li>
					</ul>
				</div>
				<div class="col-xs-3">
					<ul  class="footer-list">
						<li><a href="javascript:;">企业解决方案</a></li>
						<li><a href="javascript:;">桌面app</a></li>
						<li><a href="javascript:;">人才招聘</a></li>
						<li><a href="javascript:;">Mobile</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<ul class="footer-list1">
					<li><a href="javascript:;"><i class="iconfont llg-icon">&#xe620;</i></a><!--qq--></li>
					<li><a href="javascript:;"><i class="iconfont llg-icon">&#xe61f;</i></a><!--朋友圈--></li>
					<li><a href="javascript:;"><i class="iconfont llg-icon">&#xe622;</i></a><!--微信--></li>
					<li><a href="javascript:;"><i class="iconfont llg-icon">&#xe621;</i></a><!--q-zone--></li>
				</ul>
				<p class="copyright">© 2016 - 2020 ALD Global Inc.</p>
			</div>
		</div>
	</div><!--end footer-->