<div class="" ng-init="page_nav='#{page-tab}'">
    <ul class="nav nav-pills nav-stacked myfreelancer-nav">
        <li>
            <a href="/e/myfreelancers/hired.html" class="{{page_nav=='hired'?'active':''}}"><i class="iconfont lg-icon">&#xe657;</i>&nbsp;Hired</a>
        </li>
        <li>
            <a href="/e/myfreelancers/past.html" class="{{page_nav=='past'?'active':''}}"><i class="iconfont lg-icon">&#xe652;</i>&nbsp;Past Hires</a>
        </li>
        <li>
            <a href="/e/myfreelancers/saved.html" class="{{page_nav=='saved'?'active':''}}"><i class="iconfont lg-icon">&#xe653;</i>&nbsp;Saved</a>
        </li>
    </ul>
</div>
