<div class="">
    <ul class="nav nav-pills nav-stacked myfreelancer-nav">
        <li>
            <a href="/e/#/my-contractors" class="{{page_nav=='hired'?'active':''}}"><i class="iconfont lg-icon">&#xe657;</i>&nbsp;Hired</a>
        </li>
        <li>
            <a href="/e/#/my-contractors/past" class="{{page_nav=='past'?'active':''}}"><i class="iconfont lg-icon">&#xe652;</i>&nbsp;Past Hires</a>
        </li>
        <li>
            <a href="/e/#/my-contractors/saved" class="{{page_nav=='saved'?'active':''}}"><i class="iconfont lg-icon">&#xe653;</i>&nbsp;Saved</a>
        </li>
    </ul>
</div>
