<!--start head-->
<div class="header">
  <div class="header-container">
    <nav class="navbar navbar-default mynav-bar" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header header-logo clearfix">
          <a class="navbar-brand mynavbar-brand" href="#"><img class="logo" src="/images/logo.png"/></a>
        </div>
        <ul class="nav nologin-nav nologin-nav-left">
          <li>
            <span class="iconfont prefix-pre">&#xe616;</span>
            <input type="text" class="form-control prefix-input" placeholder="Find Freelancers">
          </li>
          <li><a href="#">BROWSE</a></li>
          <li><a href="#">HOW IT WORKS</a></li>
        </ul>
        <ul class="nav nologin-nav nologin-nav-right">
          <li class=""><a href="#"><i class="iconfont lg-icon">&#xe608;&nbsp;&nbsp;</i>SIGN UP</a></li>
          <li class=""><a href="#"><i class="iconfont lg-icon">&#xe603;&nbsp;&nbsp;</i>LOGIN</a></li>
          <li class="become-a-freelancer">
            <a class="btn btn-primary btn-simple" href="javascript:;">Become a Freelancer</a>
          </li>
        </ul>
      </div>
    </nav><!--end nav-->
  </div><!--end header container-->
</div>
<!--end header-->
