<div class="container" ng-controller="newjob">
    <form name="createjob" novalidate="novalidate">
        <div class="row m-lg-bottom m-lg-top">
            <div class="col-xs-12"><h3 class="byo-page-title">Bring Your Own Freelancer</h3></div>
        </div>
        <div class="row m-lg-bottom m-lg-top">
            <div class="col-xs-12"><h3 class="byo-page-title">Already working with a freelancer outside of Upwork? Make your life easier by inviting them to join and use our collaboration, time tracking, and payment tools.
                Prefer to work with freelancers already on Upwork? <a href="#">Search or post a job.</a></h3></div>
        </div>
       
    </form>
</div><!--end container-->