<!-- tpl {"parent": "app/template/nologin.tpl.html",
        "title": "My Freelancers - Saved",
        "css":["/styles/e/myfreelancers.css"],
        "js":["/scripts/app.js"],
        "page-tab":"saved"
} -->
<div class="container">
    <div class="row m-lg-bottom">
        <div class="col-xs-12">
            <div class="myfreelancers-side-bar pull-left no-lf-padding">
                <div class="col-xs-12">
                    <span class="iconfont prefix-pre">&#xe616;</span>
                    <input type="text" class="form-control c-input prefix-input" style="width:100%" placeholder="Search for freelancer…" />
                </div>
                <div class="col-xs-12 no-lf-padding">
                    <!--build {"type":"tpl", "ref":"/template/myfreelancersnav.html"}-->
                    <!--endbuild-->
                </div>
            </div>
            <div class="freelancers-list-panel pull-left" ng-init="freelancers=[{name:'Barindra Nath',createtime:'Saved Sep 26 2013',iconurl:'/images/pic3.jpg',profession:'java developer',
             jobs:[{url:'#',title:'Want a company for our web project (Hourly)'},{url:'#',title:'Want a company for our web project (Ended 2 months ago)'}]},
             {name:'Inder Lal Patel',description:'It\'s Sun 8:49 AM in udaipur',iconurl:'/images/pic3.jpg',
             jobs:[{url:'#',title:'Need a IT ADMIN to setup a tomcat server/mysql ASAP (Hourly)'}]}]">
                <article class="pull-left freelancerinfo-panel p-sm-bottom p-sm-top m-0-bottom" ng-repeat="item in freelancers">
                    <div class="freelancerinfo pull-left">
                        <div class="saved-personicon pull-left">
                            <img class="saved-lancer-head-img" src="{{item.iconurl}}" />
                        </div>
                        <div class="saved-personinfo pull-left">
                            <div class="pull-right">
                                <div class="p-tools-panel" ng-init="showmenu=false">
                                    <button class="btn btn-link freelancers-tools-btn menu-btn" ng-click="showmenu=!showmenu">Action<i class="iconfont lg-icon">&#xe614;</i></button>
                                    <menu class="p-tools-menu-list" style="display: block; top: 52px; left: 799.5px;" ng-show="showmenu">
                                        <li>
                                            <a href="#">View profile</a>
                                        </li>
                                    </menu>
                                </div>
                            </div>
                            <div class="lancer-base-info">
                                <div>{{item.name}}</div>
                                <div><small>{{item.profession}}</small></div>
                            </div>
                            <div class="lancer-saved-info">
                                <div>{{item.createtime}}</div>
                                <div><i class="iconfont edit-link">&#xe654;</i><a href="#">Edit</a></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>