<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>tuxming - 个人资料</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) ../styles/main.css -->
    <link rel="stylesheet" href="../styles/main.css"/>
    <!-- endbuild -->
	<link rel="stylesheet" href="../styles/style.css"/>
  </head>
  <body class="ald-body" ng-controller="myprofileController">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
	
	<div ng-include="'../template/header.html'"></div>
	
	<div class="container">
		<!--tip bar-->
		<div class="row tip-bar" id="tip-bar">
			
		</div><!--end tip bar-->
		
		<!--start center-->
		<div class="row">
			<div class="col-xs-9">	
				<h3 class="page-title">个人资料</h3>
				<div class="mp-box mp-overview clearfix">
					<div class="mp-user-photo">
						<img class="img-circle photo-100" src="../images/user.png"/>
					</div>
					<div class="mp-user-info1">
						<div class="mp-user-base">
							<div class="my-user-name-label">
								<a href="javascript:;" class="mp-user-name">Tu XianMing</a>
								<a href="javascript:;" class="mp-rate-hour pull-right">￥100.00/hr</a>
							</div>
							<div style="padding:15px 0px; ">
								<a href="javascript:;" class="mp-job-title">TOP TEN Full time J2EE expert freelancer</a>
							</div>
						</div>
						<div class="mp-user-location">
							<address><i class="iconfont">&#xe626;</i> ChangSha, China - <span class="mp-localtime">10:52pm</span></address>
							
						</div>
						<div class="mp-skils-container">
							<a href="javascript:;" class="tag tag-edit">Google App Engine</a>
							<a href="javascript:;"  class="tag"><span>Google App Engine</span><i class="iconfont">&#xe61c;</i></a>
							<a href="javascript:;"  class="tag"><span>Google App Engine</span><i class="iconfont">&#xe61c;</i></a>
							<a href="javascript:;"  class="tag"><span>Google App Engine</span><i class="iconfont">&#xe61c;</i></a>
							<a href="javascript:;"  class="tag"><span>Google App Engine</span><i class="iconfont">&#xe61c;</i></a>
							<a href="javascript:;"  class="tag"><span>Google App Engine</span><i class="iconfont">&#xe61c;</i></a>
							<a href="javascript:;"  class="tag"><span>Google App Engine</span><i class="iconfont">&#xe61c;</i></a>
							<a href="javascript:;"  class="tag"><span>Google App Engine</span><i class="iconfont">&#xe61c;</i></a>
						</div>
					</div>
					
					<div class="mp-overview-container">
						<div href="javascript:;" class="mp-overview-label">Overview</div>
<textarea cols="100" rows="10" disabled="disabled" class="mp-overview-text">	Hi, I am an Expert in Java development with 10 +years experience.  

	In Upwork I have completed 20+ projects successfully, and gain great client feedback. As  a FULL TIME freelancer, I have worked here over 15,000 hours.   
	
	I am a professional guy and know how to get this done. Since 2008, I have been working with US clients and maintaining/enhancing their system.  
	
	Contact me, and you will feel good to work with me!
	
</textarea>
					</div>
				</div><!--end overview-->
				
				<div class="mp-box  mp-work-history clearfix">
					<div class="mp-title">
						<h3 class="mp-title-text">Work History and Feedback</h3>
						<div class="dropdown mp-work-filter pull-right">
							<a class="dropdown-toggle ald-dropdown-toggle " data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<span class="filter-selected-label">Newest first</span><span class="caret"></span>
							</a>
							<ul class="dropdown-menu ald-dropdown-menu mp-work-filter-options">
								<li>Newest first</li>
								<li>Highest rated</li>
								<li>Lowest rated</li>
								<li>Largest projects</li>
							</ul>
						</div>
					</div>
					<ul class="mp-list mp-works">
						<li class="clearfix" ng-repeat="i in array">
							<div class="mp-works-left">
								<a class="mp-works-name link-underline" href="javascript:;">J2EE Web Developer</a>
								<div class="mp-works-date">2015年9月 -  2016年4月</div>
								
								<div class="mp-works-score">
									<span class="iconfont mp-works-stars">&#xe627;&#xe627;&#xe627;&#xe627;&#xe627;</span>
									<span class="mp-works-score-num">5.0</span>
								</div>
								
								<div class="mp-works-appraise">
									This has been an excellent freelancer to work with and I wouldn't hesitate to hire him again for future projects.
								</div>
							</div>
							<div class="mp-works-right">
								<div class="mp-works-total-time">4,000.00 hours</div>
								<div class="mp-works-hour-rate">￥30 / hr</div>
								<div class="mp-works-total-amount">￥10000.00 eanred</div>
							</div>
						</li><!--end item-->
					</ul>
					<a href="javascript" class="mp-work-more link-underline">view more</a>(47)
				</div><!--end work history-->
				
				<div class="mp-box mp-protfolio">
					<div class="mp-title">
						<h3 class="mp-title-text mp-title-hover">Portfolio</h3>
						<div class="dropdown mp-protfolio-filter pull-right">
							<a class="dropdown-toggle ald-dropdown-toggle " data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<span class="protfolio-selected-label">All categories</span>
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu ald-dropdown-menu mp-protfolio-filter-options">
								<li>All categories</li>
								<li>Ecommerce Development</li>
								<li>Web Development</li>
							</ul>
						</div>
					</div>
					<ul class="mp-list mp-protfolios">
						<li  class="mp-pf-item" ng-repeat="it in array1">
							<div ng-mouseenter="isShowPfControls=true" ng-mouseleave="isShowPfControls=false">
								<div class="mp-pf-thumb">
									<img src="../images/example.png"/>
									<div class="mp-pf-controls" ng-show="isShowPfControls">
										<a href="javascript:;" class="iconfont link-underline">&#xe628;</a>
										<a href="javascript:;" class="iconfont link-underline">&#xe608;</a>
										<a href="javascript:;" class="iconfont link-underline">&#xe604;</a>
									</div>
								</div>
								<div class="mp-pf-text" href="javascript:;">
									Online shopping site
								</div>
							</div>
						</li><!--end item-->
					</ul>
				</div><!--end protfolio-->
				
				<div class="mp-box mp-certifications">
					<div class="mp-title">
						<h3 class="mp-title-text mp-title-hover">Certifications</h3>
					</div>
					<ul class="mp-list mp-certifications">
						<li class="mp-cer-item">
							No items to display.
						</li><!--end item-->
					</ul>
				</div><!--end certifications -->
				
				<div class="mp-box mp-tests">
					<div class="mp-title">
						<h3 class="mp-title-text mp-title-hover">Tests</h3>
					</div>
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Score(out of 5)</th>
								<th>Time to <br/>Complete</th>
								<th>Display on profile</th>
							</tr>
						</thead>
						</tbody>
							<tr>
								<td class="col-xs-4">Upwork Readiness Test for Independent Contractors and Company Managers</td>
								<td><span class="mp-test-item-score">5.00</span><span class="mp-test-item-sort test-sort-first">1st Place!</span></td>
								<td>1 min</td>
								<td>
									<div class="btn-group" role="group" aria-label="radio">
										<button class="btn btn-radio-yes btn-radio-active" aria-label="radio">Yes</button>
										<button class="btn btn-radio-no btn-radio-unactive" aria-label="radio">No</button>
									</div>
								</td>
							</tr>
							<tr>
								<td class="col-xs-4">Upwork Readiness Test for Independent Contractors and Company Managers</td>
								<td><span class="mp-test-item-score">5.00</span><span class="mp-test-item-sort test-sort-first">1st Place!</span></td>
								<td>1 min</td>
								<td>
									<div class="btn-group" role="group" aria-label="radio">
										<button class="btn btn-radio-yes" aria-label="radio">Yes</button>
										<button class="btn btn-radio-no btn-radio-no-unactive" aria-label="radio">No</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div><!--end certifications -->
				
			</div><!--end left-->
			<div class="col-xs-3">
				
			</div><!--end right-->
		</div><!--end row-->
	</div><!--end content container-->
	
	<div ng-include="'../template/footer.html'"></div>
	
    <!-- build:js(.) ../scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower --> 
    <!-- endbuild -->
    
	<script src="../scripts/globe.js"></script>
	<script src="../scripts/controllers/myprofile.js"></script>
	<!-- build:js({.tmp,app}) ../scripts/controllers/saved.js -->
	<!-- endbuild -->
</body>
</html>
