<div class="container">
	<!--tip bar-->
	<div class="row tip-bar" id="tip-bar">
		
	</div><!--end tip bar-->
	
	<!--start center-->
	<div class="row">
		<div class="col-xs-12">	
			<h3 class="page-title">我收藏的工作</h3>
			<p>Keep track of jobs you're interested in. Once a job is closed, it will automatically be removed from your list.</p>
			<ul class="list-group">
				<li class="list-group-item">
					<h2 class="job-title">
						<a class="job-title-item" href="javascript:;">Java Web开发</a>
						<a class="pull-right glyphicon glyphicon-heart job-title-item-cert icon-link" href="javascript:;"></a>
					</h2>
					<div class="job-detail">
						<span class="job-info">
							<strong>小时</strong>
							-<span>货币($)</span>
							<span>开发时间：3-6月</span>,
							<span>发布时间：7天以前</span>
						</span>
						<p class="job-desc">
							这个是项目的描述，这个是项目的描述，这个是项目的描述，这个是项目的描述
							<a href="javascript:;">更多</a>
						</p>
						<div>
							<label>
								<strong>Client: </strong>
								<div style="display:inline-block; width:30px; height:15px; overflow:hidden; background:#E0E0E0; border-radius:5px;">
									<div style="width:10px;height:15px; background:#7BD454; display:inline-block;">
									</div>
									<span>$</span>
								</div>
								<span>
									<span class="icon-active glyphicon glyphicon-star"></span>
									<span class="icon-active glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
								</span>
							</label>
							<label>
								<span>技能: </span>
								<a class="tag-item" href="javascript:;">javascript</a>
								<a class="tag-item" href="javascript:;">javascript</a>
								<a class="tag-item" href="javascript:;">javascript</a>
								<a class="tag-item" href="javascript:;">javascript</a>
							</label>
						</div>
					</div>
				</li><!--end job item-->
				<li class="list-group-item">
					<h2 class="job-title">
						<a class="job-title-item" href="javascript:;">Java Web开发</a>
						<a class="pull-right glyphicon glyphicon-heart job-title-item-cert icon-link" href="javascript:;"></a>
					</h2>
					<div class="job-detail">
						<span class="job-info">
							<strong>小时</strong>
							-<span>货币($)</span>
							<span>开发时间：3-6月</span>,
							<span>发布时间：7天以前</span>
						</span>
						<p class="job-desc">
							这个是项目的描述，这个是项目的描述，这个是项目的描述，这个是项目的描述
							<a href="javascript:;">更多</a>
						</p>
						<div>
							<label>
								<strong>Client: </strong>
								<div style="display:inline-block; width:30px; height:15px; overflow:hidden; background:#E0E0E0; border-radius:5px;">
									<div style="width:10px;height:15px; background:#7BD454; display:inline-block;">
									</div>
									<span>$</span>
								</div>
								<span>
									<span class="icon-active glyphicon glyphicon-star"></span>
									<span class="icon-active glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
								</span>
							</label>
							<label>
								<span>技能: </span>
								<a class="tag-item" href="javascript:;">javascript</a>
								<a class="tag-item" href="javascript:;">javascript</a>
								<a class="tag-item" href="javascript:;">javascript</a>
								<a class="tag-item" href="javascript:;">javascript</a>
							</label>
						</div>
					</div>
				</li><!--end job item-->
			</ul>
		</div><!--end center-->
	</div><!--end row-->
</div><!--end content container-->