<div class="container">
	<!--tip bar-->
	<div class="row tip-bar" id="tip-bar">

	</div><!--end tip bar-->

	<!--start center-->
	<div class="row">
		<div class="col-xs-12">
			<h3 class="page-title">我的状态</h3>
			<div class="mystats-box clearfix">

				<div class="mystats-box-left">
					<h4 class="msc-title">Client satisfaction</h4>
					<div class="msc-left-container clearfix">
						<div class="msc-left-item msc-percent-chart">
							<div class="msc-percent-draw msc-percent-draw-example">
							</div>
							<p class="msc-update-client txcenter">Last updated Apr 3</p>
						</div><!--end percent-chart-->
						<div class="evaluate-list msc-left-item">
							<div class="msc-item msc-top">
								<i class="iconfont">&#xe60a;</i>Top Rated
							</div>
							<div class="msc-item">
								<span class="msc-item-label">12-month earnings</span>
								<span class="msc-item-text">$40,256</span>
							</div>
							<div class="msc-item">
								<span class="msc-item-label">Feedback score(Last 12 months)</span>
								<span class="msc-item-text"><span class="iconfont msc-start">&#xe60a;&#xe60a;&#xe60a;&#xe60a;&#xe60a;</span>4.95</span>
							</div>
							<div class="msc-item">
								<span class="msc-item-label">Clients who would recommend you</span>
								<span class="msc-item-text">-</span>
							</div>
							<div class="msc-item">
								<span class="msc-item-label">Long-term clients</span>
								<span class="msc-item-text">80%</span>
							</div>
							<div class="msc-item">
								<span class="msc-item-label">Recent account holds</span>
								<span class="msc-item-text">0</span>
							</div>
						</div><!--end evaluate list-->
					</div>
				</div><!--end left-->
				<div class="mystats-box-right">
					<p>
						<a href="javascript:;">Learn about the all-new <span>Top Rated</span> program.</a>
					</p>
					<p>Your Job Success score updates about every 2 weeks.</p>
				</div><!--end right-->
			</div><!--end mystats-box-->

			<div class="mystats-box clearfix">

				<div class="mystats-box-left">
					<h4 class="msc-title">Communication</h4>
					<span class="msc-sub-title">You replied to 3 of 4 invitations to apply in the past 90 days:</span>
					<div class="msc-left-container clearfix">
						<div class="msc-chart-bar msc-chart-bar-label">
							<span class="col-xs-4">&nbsp;</span>
							<span class="col-xs-4">Never</span>
							<span class="col-xs-4 txcenter">Always</span>
						</div>
						<div class="msc-chart-bar">
							<span class="col-xs-4 text-right">You reply within a day</span>
							<span class="col-xs-7 msc-chart-draw">
								<div></div>
							</span>
						</div>
						<div class="msc-chart-bar">
							<span class="col-xs-4 text-right">You reply every time</span>
							<span class="col-xs-7 msc-chart-draw">
								<div></div>
							</span>
						</div>
					</div>
				</div><!--end left-->
				<div class="mystats-box-right">
					<p>
						Always respond to invitations in a timely manner, even when declining.
					</p>
					<p>AvailableMore than <br/>30 hrs/week<br/>
						<a href="javascript:;" class="btn btn-primary ald-btn-primary">Change</a>
					</p>
					<p>
						<a href="javascript:;" class="link-underline">
							The benefits of<br/>setting your availability
						</a>
					</p>
				</div><!--end right-->
			</div><!--end mystats-box-->

			<div class="mystats-box clearfix">

				<div class="mystats-box-left">
					<h4 class="msc-title">Marketing effectiveness</h4>
					<span class="msc-sub-title">You've applied to 48 jobs in the past 90 days. Compared to your peers:</span>
					<div class="msc-left-container clearfix">
						<div class="msc-chart-bar msc-chart-bar-label">
							<span class="col-xs-3">&nbsp;</span>
							<span class="col-xs-3">Less often</span>
							<span class="col-xs-3">Average</span>
							<span class="col-xs-3 txcenter">More often</span>
						</div>
						<div class="msc-chart-bar">
							<span class="col-xs-3 text-right">You were viewed</span>
							<span class="col-xs-8 msc-chart-draw">
								<div></div>
							</span>
						</div>
						<div class="msc-chart-bar">
							<span class="col-xs-3 text-right">You were interviewed</span>
							<span class="col-xs-8 msc-chart-draw">
								<div></div>
							</span>
						</div>
						<div class="msc-chart-bar">
							<span class="col-xs-3 text-right">You were hired</span>
							<span class="col-xs-8 msc-chart-draw">
								<div></div>
							</span>
						</div>
					</div>
				</div><!--end left-->
				<div class="mystats-box-right">
					<p>
						Look for jobs that match your skill set and experience level.
					</p>
					<p>
						<a href="javascript:;" class="link-underline">
							The art of applying to jobs
						</a>
					</p>
				</div><!--end right-->
			</div><!--end mystats-box-->

		</div><!--end center-->

	</div><!--end row-->
</div><!--end content container-->
