<div class="container">
	<!--tip bar-->
	<div class="row tip-bar" id="tip-bar">
		
	</div><!--end tip bar-->
	
	<!--start center-->
	<div class="row">
		<div class="col-xs-12">	
			<h3 class="page-title">我的建议</h3>
			<div class="tab">
                <!--build {"type":"tpl", "ref":"/template/proposalsnav.html"}-->
                <!--endbuild-->
				<div class="tab-content">
					<div class="tab-content-1">
						<div class="nothing-box">
							<span>
								<span>0 Offers</span>
								<span class="pull-right iconfont nothing-box-icon">&#xe611;<!-- 提示 --></span>
							</span>
						</div><!--end box-->
						
						<div class="nothing-box">
							<span>
								<span>0 Active Candidacies</span>
								<span class="pull-right iconfont nothing-box-icon">&#xe611;<!-- 提示 --></span>
							</span>
						</div><!--end box-->
						
						<div class="nothing-box">
							<span>
								<span>0 Invitations to Interview</span>
								<span class="pull-right iconfont nothing-box-icon">&#xe611;<!-- 提示 --></span>
							</span>
						</div><!--end box-->
							
						<div class="nothing-box">
							<span>
								<span>0 Submitted Proposals</span>
								<span class="pull-right iconfont nothing-box-icon">&#xe611;<!-- 提示 --></span>
							</span>
						</div><!--end box-->
						
					</div>
				</div><!--end tab-content-->
			</div><!--end tab-->
			<p class="pull-right"><a href="javascript:;">搜工作</a> | <a href="javascript:;">我的资料</a></p>
		</div><!--end center-->
	</div><!--end row-->
</div><!--end content container-->

