
<div class="header">
  <div class="header-container">
    <nav class="navbar navbar-default mynav-bar" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand mynavbar-brand" href="#"><img class="logo" src="/images/logo.png"/></a>
        </div>

        <div class="collapse navbar-collapse navbar-left">
          <ul class="nav navbar-nav nav-left-ul">
            <li ng-repeat="menuItem in menu" >
              <a href="##" ng-class="{true: 'active', false: ''}[menuItem.active]"
                 ng-click="goto($index, menuItem.url)">{{menuItem.label}}</a></li>
          </ul>
        </div>
        <ul class="nav navbar-nav navbar-right nav-right-ul">
          <li class="nav-right-item"><a href="/home/browse.html"><i class="iconfont lg-icon">&#xe616;</i></a></li><!--搜索-->
          <li class="nav-right-item"><a href="#"><i class="iconfont lg-icon">&#xe611;</i></a></li><!--帮助-->
          <li class="nav-right-item"><a href="#"><i class="iconfont lg-icon">&#xe61d;</i></a></li><!--消息-->
          <li>
						<span  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<img class="account_img img-circle" src="/images/user.png"/>
							<span class="caret"></span>
						</span>
            <ul class="dropdown-menu dropdown-menu-user">
              <li class="login-status">
                <a class="login-option login-select" href="javascript:;">在线</a><a class="login-option login-unselect" href="javascript:;">隐身</a>
              </li>
              <li class="menu-item">
                <a class="freelancer" ng-click="switchToFreelancer()" href="#">
                  <img class="img-circle img-icon" src="/images/user.png"/>
                  <div>
                    <span class="account-name">Tu Xianming</span><br/>
                    <span>自由工作者</span>
                  </div>
                </a>
              </li>
              <li class="menu-item">
                <a class="freelancer" href="#" ng-click="switchToClient()">
                  <img class="img-circle img-icon" src="/images/user.png"/>
                  <div>
                    <span class="account-name">txm Team</span><br/>
                    <span>Client</span>
                  </div>
                </a>
              </li>
              <li class="menu-item">
                <a class="freelancer" href="#" ng-click="switchToAgency()">
                  <img class="img-circle img-icon" src="/images/user.png"/>
                  <div>
                    <span class="account-name">txm Agency</span><br/>
                    <span>Agency</span>
                  </div>
                </a>
              </li>
              <li class="menu-item">
                <a href="#"><i class="iconfont lg-icon" >&#xe60e;</i>&nbsp;&nbsp;设置</a>
              </li>
              <li class="menu-item">
                <a href="#" ng-click="logout()"><i class="iconfont lg-icon" >&#xe603;</i>&nbsp;&nbsp;<span>注销</span><span class="pull-right">tuxmingg</span></a>
              </li>
            </ul>
          </li>
        </ul><!--end right menu-->
      </div>
    </nav><!--end nav-->
  </div><!--end header container-->
  <div class="sub-nav-container" ng-if="isSubmenu()">
    <div class="header-container">
      <!--<li><a class="sub-nav-bar-active" ng-href="#/">找工作</a></li>-->
      <ul class="nav nav-pills sub-nav-bar" role="tablist">
        <li  ng-repeat="sitem in submenu"><a ng-href="{{sitem.url}}">{{sitem.label}}</a></li>
      </ul><!--end right menu-->
    </div><!--end header container-->
  </div>
</div>
