<div class="container">
    <div class="row m-normal-bottom">
        <div class="col-xs-3 p-lg-left">
            <h2 class="roster-page-title">Agency Roster</h2>
        </div>
        <div class="col-xs-9">
            <div class="dropdown ald-dropdown pagerole-drop-panel">
                <a class="dropdown-toggle ald-dropdown-toggle pagerole-drop-a" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span>SkyWalker</span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu ald-dropdown-menu pagerole-drop-ul">
                    <li class="active">SkyWalker</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row m-lg-bottom div-content-panel div-content-panel-first">
        <div class="col-xs-12 m-normal-bottom">
            <div class="row">
                <div class="col-xs-3 col-xs-offset-7">
                    <div class="dropdown ald-dropdown rostersetting-drop-panel">
                        <a class="dropdown-toggle ald-dropdown-toggle rostersetting-drop-a" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span>Change Roster Settings</span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu ald-dropdown-menu rostersetting-drop-ul">
                            <li class="active">Change Roster Settings</li>
                            <li>Profile Rate</li>
                            <li>Rate Privacy</li>
                            <li>Profile Privacy</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-2 p-normal-left">
                    <button class="btn btn-changesetting">Apply</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <td><div><input type="checkbox"><span class="checkbox-helper"></span></div></td>
                        <td>Freelancer</td>
                        <td>Last Date Worked &nbsp;&nbsp;<i class="iconfont">&#xe60b;</i></td>
                        <td>Profile Rate &nbsp;&nbsp;<i class="iconfont">&#xe60b;</i></td>
                        <td>Rate Privacy &nbsp;&nbsp;<i class="iconfont">&#xe60b;</i></td>
                        <td>Profile Privacy &nbsp;&nbsp;<i class="iconfont">&#xe60b;</i></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div><input type="checkbox"><span class="checkbox-helper"></span></div>
                        </td>
                        <td>
                            <div>
                                <a href="javascript:void(0)">Cantor Fan</a>(cantorfan)
                            </div>
                            <div>
                                <a href="javascript:void(0)">Contracts</a> | <a href="javascript:void(0)">Proposals</a>
                            </div>
                        </td>
                        <td>
                            Jul 17, 2016
                        </td>
                        <td>
                            $22.22
                        </td>
                        <td>
                            Public
                        </td>
                        <td>
                            Public
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
