<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-left m-lg-bottom m-normal-top jobs-page-title">Browse Jobs</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="filterjobs" accept-charset="UTF-8" method="get">
                <label>
                    Search Jobs<input class="jobs-search-text" maxlength="100" value="">
                </label>
                <button type="submit" class="btn jobs-search-btn">Search</button>
            </form>
        </div>
    </div>
    <div class="row categories-list m-lg-bottom">
        <div class="col-xs-4">
            <section>
                <h4 class='categories-title'>Web, Mobile &amp; Software Dev</h4>
                <ul class="list-unstyled plain-list">
                    <li><a href="#">All Web, Mobile &amp; Software Dev</a></li>
                    <li>
                        <a href="#">Desktop Software Development</a>
                    </li>
                    <li>
                        <a href="#">Ecommerce Development</a>
                    </li>
                    <li>
                        <a href="#">Game Development</a>
                    </li>
                    <li>
                        <a href="#">Mobile Development</a>
                    </li>
                    <li>
                        <a href="#">Product Management</a>
                    </li>
                    <li>
                        <a href="#">QA &amp; Testing</a>
                    </li>
                    <li>
                        <a href="#">Scripts &amp; Utilities</a>
                    </li>
                    <li>
                        <a href="#">Web Development</a>
                    </li>
                    <li>
                        <a href="#">Web &amp; Mobile Design</a>
                    </li>
                    <li>
                        <a href="#">Other - Software Development</a>
                    </li>
                </ul>
            </section>
            <section>
                <h4 class='categories-title'>IT &amp; Networking</h4>
                <ul class="list-unstyled plain-list">
                    <li><a href="#">All IT &amp; Networking</a></li>
                    <li>
                        <a href="#">Database Administration</a>
                    </li>
                    <li>
                        <a href="#">ERP / CRM Software</a>
                    </li>
                    <li>
                        <a href="#">Information Security</a>
                    </li>
                    <li>
                        <a href="#">Network &amp; System Administration</a>
                    </li>
                    <li>
                        <a href="#">Other - IT &amp; Networking</a>
                    </li>
                </ul>
            </section>
            <section>
                <h4 class='categories-title'>Data Science &amp; Analytics</h4>
                <ul class="list-unstyled plain-list">
                    <li><a href="#">All Data Science &amp; Analytics</a></li>
                    <li>
                        <a href="#">A/B Testing</a>
                    </li>
                    <li>
                        <a href="#">Data Visualization</a>
                    </li>
                    <li>
                        <a href="#">Data Extraction / ETL</a>
                    </li>
                    <li>
                        <a href="#">Data Mining &amp; Management</a>
                    </li>
                    <li>
                        <a href="#">Machine Learning</a>
                    </li>
                    <li>
                        <a href="#">Quantitative Analysis</a>
                    </li>
                    <li>
                        <a href="#">Other - Data Science &amp; Analytics</a>
                    </li>
                </ul>
            </section>
            <section>
                <h4 class='categories-title'>Engineering &amp; Architecture</h4>
                <ul class="list-unstyled plain-list">
                    <li><a href="#">All Engineering &amp; Architecture</a></li>
                    <li>
                        <a href="#">3D Modeling &amp; CAD</a>
                    </li>
                    <li>
                        <a href="#">Architecture</a>
                    </li>
                    <li>
                        <a href="#">Chemical Engineering</a>
                    </li>
                    <li>
                        <a href="#">Civil &amp; Structural Engineering</a>
                    </li>
                    <li>
                        <a href="#">Contract Manufacturing</a>
                    </li>
                    <li>
                        <a href="#">Electrical Engineering</a>
                    </li>
                    <li>
                        <a href="#">Interior Design</a>
                    </li>
                    <li>
                        <a href="#">Mechanical Engineering</a>
                    </li>
                    <li>
                        <a href="#">Product Design</a>
                    </li>
                    <li>
                        <a href="#">Other - Engineering &amp; Architecture</a>
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-xs-4">
            <section>
                <h4 class='categories-title'>Design &amp; Creative</h4>
                <ul class="list-unstyled plain-list">
                    <li><a href="#">All Design &amp; Creative</a></li>
                    <li>
                        <a href="#">Animation</a>
                    </li>
                    <li>
                        <a href="#">Audio Production</a>
                    </li>
                    <li>
                        <a href="#">Graphic Design</a>
                    </li>
                    <li>
                        <a href="#">Illustration</a>
                    </li>
                    <li>
                        <a href="#">Logo Design &amp; Branding</a>
                    </li>
                    <li>
                        <a href="#">Photography</a>
                    </li>
                    <li>
                        <a href="#">Presentations</a>
                    </li>
                    <li>
                        <a href="#">Video Production</a>
                    </li>
                    <li>
                        <a href="#">Voice Talent</a>
                    </li>
                    <li>
                        <a href="#">Other - Design &amp; Creative</a>
                    </li>
                </ul>
            </section>
            <section>
                <h4 class='categories-title'>Writing</h4>
                <ul class="list-unstyled plain-list">
                    <li><a href="#">All Writing</a></li>
                    <li>
                        <a href="#">Academic Writing &amp; Research</a>
                    </li>
                    <li>
                        <a href="#">Article &amp; Blog Writing</a>
                    </li>
                    <li>
                        <a href="#">Copywriting</a>
                    </li>
                    <li>
                        <a href="#">Creative Writing</a>
                    </li>
                    <li>
                        <a href="#">Editing &amp; Proofreading</a>
                    </li>
                    <li>
                        <a href="#">Grant Writing</a>
                    </li>
                    <li>
                        <a href="#">Resumes &amp; Cover Letters</a>
                    </li>
                    <li>
                        <a href="#">Technical Writing</a>
                    </li>
                    <li>
                        <a href="#">Web Content</a>
                    </li>
                    <li>
                        <a href="#">Other - Writing</a>
                    </li>
                </ul>
            </section>
            <section>
                <h4 class='categories-title'>Translation</h4>
                <ul class="list-unstyled plain-list">
                    <li><a href="#">All Translation</a></li>
                    <li>
                        <a href="#">General Translation</a>
                    </li>
                    <li>
                        <a href="#">Legal Translation</a>
                    </li>
                    <li>
                        <a href="#">Medical Translation</a>
                    </li>
                    <li>
                        <a href="#">Technical Translation</a>
                    </li>
                </ul>
            </section>
            <section>
                <h4 class='categories-title'>Legal</h4>
                <ul class="list-unstyled plain-list">
                    <li><a href="#">All Legal</a></li>
                    <li>
                        <a href="#">Contract Law</a>
                    </li>
                    <li>
                        <a href="#">Corporate Law</a>
                    </li>
                    <li>
                        <a href="#">Criminal Law</a>
                    </li>
                    <li>
                        <a href="#">Family Law</a>
                    </li>
                    <li>
                        <a href="#">Intellectual Property Law</a>
                    </li>
                    <li>
                        <a href="#">Paralegal Services</a>
                    </li>
                    <li>
                        <a href="#">Other - Legal</a>
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-xs-4">
            <section>
                <h4 class='categories-title'>Admin Support</h4>
                <ul class="list-unstyled plain-list">
                    <li><a href="#">All Admin Support</a></li>
                    <li>
                        <a href="#">Data Entry</a>
                    </li>
                    <li>
                        <a href="#">Personal / Virtual Assistant</a>
                    </li>
                    <li>
                        <a href="#">Project Management</a>
                    </li>
                    <li>
                        <a href="#">Transcription</a>
                    </li>
                    <li>
                        <a href="#">Web Research</a>
                    </li>
                    <li>
                        <a href="#">Other - Admin Support</a>
                    </li>
                </ul>
            </section>
            <section>
                <h4 class='categories-title'>Customer Service</h4>
                <ul class="list-unstyled plain-list">
                    <li><a href="#">All Customer Service</a></li>
                    <li>
                        <a href="#">Customer Service</a>
                    </li>
                    <li>
                        <a href="#">Technical Support</a>
                    </li>
                    <li>
                        <a href="#">Other - Customer Service</a>
                    </li>
                </ul>
            </section>
            <section>
                <h4 class='categories-title'>Sales &amp; Marketing</h4>
                <ul class="list-unstyled plain-list">
                    <li><a href="#">All Sales &amp; Marketing</a></li>
                    <li>
                        <a href="#">Display Advertising</a>
                    </li>
                    <li>
                        <a href="#">Email &amp; Marketing Automation</a>
                    </li>
                    <li>
                        <a href="#">Lead Generation</a>
                    </li>
                    <li>
                        <a href="#">Market &amp; Customer Research</a>
                    </li>
                    <li>
                        <a href="#">Marketing Strategy</a>
                    </li>
                    <li>
                        <a href="#">Public Relations</a>
                    </li>
                    <li>
                        <a href="#">SEM - Search Engine Marketing</a>
                    </li>
                    <li>
                        <a href="#">SEO - Search Engine Optimization</a>
                    </li>
                    <li>
                        <a href="#">SMM - Social Media Marketing</a>
                    </li>
                    <li>
                        <a href="#">Telemarketing &amp; Telesales</a>
                    </li>
                    <li>
                        <a href="#">Other - Sales &amp; Marketing</a>
                    </li>
                </ul>
            </section>
            <section>
                <h4 class='categories-title'>Accounting &amp; Consulting</h4>
                <ul class="list-unstyled plain-list">
                    <li><a href="#">All Accounting &amp; Consulting</a></li>
                    <li>
                        <a href="#">Accounting</a>
                    </li>
                    <li>
                        <a href="#">Financial Planning</a>
                    </li>
                    <li>
                        <a href="#">Human Resources</a>
                    </li>
                    <li>
                        <a href="#">Management Consulting</a>
                    </li>
                    <li>
                        <a href="#">Other - Accounting &amp; Consulting</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>

</div>
