@import url("../variable.less");

.page-title-col{
  padding-left:0px;
}

.page-title{
  padding-top:0px;
  margin-left:0px;
  margin-bottom:15px;
  font-size:26px;
  font-weight:300;
}

.view-all-contracts{
  padding-top:30px;
}

.mj-page-header{
 padding-bottom:30px; font-size:16px;
}

.mj-item{
  background: @white; padding:15px;
  border-bottom:1px solid @unactive;
}
.mj-item:last-child{
  border:none;
}

.mj-item-list{
  border:1px solid @unactive;
}

.mj-item-label{
  font-size:16px; font-weight:600;
  margin-bottom:5px;
}

.mj-item-author{
  font-size:13px; color: @lightColor;
  margin-bottom:5px;
}

.mj-item-ctrl{
  font-size:13px;
}

.mj-item-hour{
  margin-top:15px;
}

.mj-item-right > div{
  font-size:13px;
  color:@lightColor;
}
.mj-item-hour > span {color: @dilutedColor;font-weight:bold;}
.btn-simple{
  font-size:12px;
  margin-top:25px;
}

.panel-default .panel-heading{background: @white;}
.tip-content{
  height:120px;
  font-size:13px; color:@dilutedColor;
}

.tips-ctrl a{
  font-size:13px; margin-right:20px;
}
