@charset "utf-8";
.page-title-col {
  padding-left: 0px;
}
.page-title {
  padding-top: 0px;
  margin-left: 0px;
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 300;
}
.view-all-contracts {
  padding-top: 30px;
}
.mj-page-header {
  padding-bottom: 30px;
  font-size: 16px;
}
.mj-item {
  background: white;
  padding: 15px;
  border-bottom: 1px solid #E0E0E0;
}
.mj-item:last-child {
  border: none;
}
.mj-item-list {
  border: 1px solid #E0E0E0;
}
.mj-item-label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.mj-item-author {
  font-size: 13px;
  color: #979797;
  margin-bottom: 5px;
}
.mj-item-ctrl {
  font-size: 13px;
}
.mj-item-hour {
  margin-top: 15px;
}
.mj-item-right > div {
  font-size: 13px;
  color: #979797;
}
.mj-item-hour > span {
  color: #494949;
  font-weight: bold;
}
.btn-simple {
  font-size: 12px;
  margin-top: 25px;
}
.panel-default .panel-heading {
  background: white;
}
.tip-content {
  height: 120px;
  font-size: 13px;
  color: #494949;
}
.tips-ctrl a {
  font-size: 13px;
  margin-right: 20px;
}
.pagination-layout {
  text-align: right;
}
.c-thead {
  font-size: 13px;
  font-weight: 500;
  color: #494949;
}
.c-title a {
  font-size: 16px;
  font-weight: 600;
}
.c-time,
.c-terms {
  font-size: 12px;
  color: #494949;
}
.c-ctrl {
  font-size: 12px;
}
.table tbody {
  background: white;
  border: 1px solid #E0E0E0;
  border-top: none;
}
.table tbody tr td {
  vertical-align: middle;
}
.table thead tr th {
  border-bottom: none;
}
.table .end-row {
  background: #E0E0E0;
}
.pagination-layout li a {
  color: #37A000;
}
.pagination {
  margin: 0px;
  padding: 0px;
}
.pagination-layout li a:hover,
.pagination-layout li .active {
  background: white;
  color: #37A000;
  border: 2px solid #37A000;
}
.c-input {
  padding-left: 30px;
  width: 300px;
  display: inline-block;
  margin-right: 25px;
  border: 2px solid #E0E0E0;
}
.c-input:hover,
.c-input:focus {
  box-shadow: none;
  border: 2px solid #37A000;
}
.input-prev {
  position: relative;
  left: 30px;
  color: #37A000;
}
.c-get-csv {
  vertical-align: middle;
  margin-bottom: 15px;
}
.filter-selected-label {
  width: 80%;
  font-size: 14px;
}
.mp-work-filter-options {
  width: 100%;
}
.mp-work-filter-options .filter-selected-actived {
  border-left: 2px solid #37A000;
}
.row-margin {
  margin: 30px 0px;
}
.wk-info-bar {
  background: #fefefe;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 10px 6px;
}
.time-zone-container {
  width: 120px;
  display: inline-block;
}
