<!-- tpl {"parent": "app/template/nologin.tpl.html",
        "title": "Our team", "js":["/scripts/app.js"], "page-tab":"board"
    } -->
<div class="banner-header txcenter">
    <h1>Our team</h1>
    <h3>Here are key stakeholders focused on building our community</h3>
</div>
<!--build {"type":"tpl", "ref":"/template/aboutnav.html"}-->
<!--endbuild-->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="row txcenter team-groups">
                <div class="col-xs-6 team-groups">
                    <div class="row"><img src="/images/pic3.jpg" class="head-img" /></div>
                    <h1>Stephane Kasriel</h1>
                    <ul class="nav nav-list mydivider"><li class="divider"></li></ul>
                    <h3>CHIEF EXECUTIVE OFFICER</h3>
                    <div class="row text-left">
                        <p>
                            As CEO of Upwork, Stephane is driving the company's vision of connecting businesses with talent faster than ever.
                            He is an expert on working with professionals around the world, having also managed the company's global tech team of 300+ product managers,
                            designers and engineers. Stephane has 16 years of leadership experience. Previously, he was Global Head of PayPal Consumer Products,
                            Global Head of PayPal Mobile Business Development and Managing Director of PayPal France,
                            held leadership roles at pioneering companies including Fireclick, Work4, and Zong, and was a founder of Fireclick and iFeelGoods.
                            Stephane is also the author of "Hire Fast & Build Things", an ebook on how to manage geographically distributed teams.
                            Find more of his perspective in a CareerDean Q&A here.
                        </p>
                        <p>Stephane holds an MBA from INSEAD, Master's from Stanford in Computer Science and a BS from Ecole Polytechnique in France.</p>
                    </div>
                </div>
                <div class="col-xs-6 team-groups">
                    <div class="row"><img src="/images/pic3.jpg" class="head-img" /></div>
                    <h1>Stephane Kasriel</h1>
                    <ul class="nav nav-list mydivider"><li class="divider"></li></ul>
                    <h3>CHIEF EXECUTIVE OFFICER</h3>
                    <div class="row text-left">
                        <p>
                            As CEO of Upwork, Stephane is driving the company's vision of connecting businesses with talent faster than ever.
                            He is an expert on working with professionals around the world, having also managed the company's global tech team of 300+ product managers,
                            designers and engineers. Stephane has 16 years of leadership experience. Previously, he was Global Head of PayPal Consumer Products,
                            Global Head of PayPal Mobile Business Development and Managing Director of PayPal France,
                            held leadership roles at pioneering companies including Fireclick, Work4, and Zong, and was a founder of Fireclick and iFeelGoods.
                            Stephane is also the author of "Hire Fast & Build Things", an ebook on how to manage geographically distributed teams.
                            Find more of his perspective in a CareerDean Q&A here.
                        </p>
                        <p>Stephane holds an MBA from INSEAD, Master's from Stanford in Computer Science and a BS from Ecole Polytechnique in France.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row txcenter team-groups">
                <div class="col-xs-6 team-groups">
                    <div class="row"><img src="/images/pic3.jpg" class="head-img" /></div>
                    <h1>Stephane Kasriel</h1>
                    <ul class="nav nav-list mydivider"><li class="divider"></li></ul>
                    <h3>CHIEF EXECUTIVE OFFICER</h3>
                    <div class="row text-left">
                        <p>
                            As CEO of Upwork, Stephane is driving the company's vision of connecting businesses with talent faster than ever.
                            He is an expert on working with professionals around the world, having also managed the company's global tech team of 300+ product managers,
                            designers and engineers. Stephane has 16 years of leadership experience. Previously, he was Global Head of PayPal Consumer Products,
                            Global Head of PayPal Mobile Business Development and Managing Director of PayPal France,
                            held leadership roles at pioneering companies including Fireclick, Work4, and Zong, and was a founder of Fireclick and iFeelGoods.
                            Stephane is also the author of "Hire Fast & Build Things", an ebook on how to manage geographically distributed teams.
                            Find more of his perspective in a CareerDean Q&A here.
                        </p>
                        <p>Stephane holds an MBA from INSEAD, Master's from Stanford in Computer Science and a BS from Ecole Polytechnique in France.</p>
                    </div>
                </div>
                <div class="col-xs-6 team-groups">
                    <div class="row"><img src="/images/pic3.jpg" class="head-img" /></div>
                    <h1>Stephane Kasriel</h1>
                    <ul class="nav nav-list mydivider"><li class="divider"></li></ul>
                    <h3>CHIEF EXECUTIVE OFFICER</h3>
                    <div class="row text-left">
                        <p>
                            As CEO of Upwork, Stephane is driving the company's vision of connecting businesses with talent faster than ever.
                            He is an expert on working with professionals around the world, having also managed the company's global tech team of 300+ product managers,
                            designers and engineers. Stephane has 16 years of leadership experience. Previously, he was Global Head of PayPal Consumer Products,
                            Global Head of PayPal Mobile Business Development and Managing Director of PayPal France,
                            held leadership roles at pioneering companies including Fireclick, Work4, and Zong, and was a founder of Fireclick and iFeelGoods.
                            Stephane is also the author of "Hire Fast & Build Things", an ebook on how to manage geographically distributed teams.
                            Find more of his perspective in a CareerDean Q&A here.
                        </p>
                        <p>Stephane holds an MBA from INSEAD, Master's from Stanford in Computer Science and a BS from Ecole Polytechnique in France.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team-intestors m-0-bottom"> </div>