<!-- tpl {"parent": "app/template/nologin.tpl.html",
        "title": "Change how the world works", "js":["/scripts/app.js"], "page-tab":"careers"
    } -->
<div class="banner-header text-center">
    <h1>Change how the world works</h1>
    <h3>Join our team as we redefine work</h3>
    <input type="button" class="btn btn-looking-position" value="See Open Positions" />
</div>
<!--build {"type":"tpl", "ref":"/template/aboutnav.html"}-->
<!--endbuild-->
<div class="txcenter careers-title">
    <h1>Work with a purpose. And a smile.</h1>
</div>
<div class="row txcenter joinus-group">
    <div class="col-xs-4">
        <div class="row"><img src="/images/logo.png" /></div>
        <div class="row"></div>
        <div class="row"><h3>COME MAKE HISTORY</h3></div>
        <div class="row">
            <p>Help bring online work to every corner of the world.</p>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="row"><img src="/images/logo.png" /></div>
        <div class="row"></div>
        <div class="row"><h3>DO STUFF YOU'RE PROUD OF</h3></div>
        <div class="row">
            <p>Be part of a fun and passionate crew reinventing an industry. Along the way you'll draw a nice paycheck and work on projects that truly matter.</p>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="row"><img src="/images/logo.png" /></div>
        <div class="row"></div>
        <div class="row"><h3>WHISTLE WHILE YOU WORK</h3></div>
        <div class="row">
            <p>Enjoy a healthy work/life balance, with great perks from free lunches and fun afternoon social activities to work-from-home Wednesdays.</p>
        </div>
    </div>
</div>
<div class="container  careers-workers">
    <div class="row">
        <div class="col-xs-12 txcenter careers-title">
            <h1> See what it's like to work for Upwork</h1>
        </div>
    </div>
    <div class="row worker-rows">
        <div class="col-xs-8">
            <a href="#/careers" class="worker-link">
                <div class="worker-linkpanel text-right">
                    <img src="/images/pic2.jpg" class="pic-main" />
                    <div class="office-right-text">
                        <h3>Our Office</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#/careers" class="worker-link">
                <div class="worker-linkpanel text-right">
                    <img src="/images/pic2.jpg" class="pic-right-up" />
                    <div class="worker-right-text">
                        <h3>Worker1</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#/careers" class="worker-link">
                <div class="worker-linkpanel text-right">
                    <img src="/images/pic2.jpg" class="pic-right-down" />
                    <div class="worker-right-text">
                        <h3>Worker2</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row worker-rows">
        <div class="col-xs-4 ">
            <a href="#/careers" class="worker-link">
                <div class="worker-linkpanel text-right">
                    <img src="/images/pic2.jpg" />
                    <div class="worker-right-text">
                        <h3>Worker</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#/careers" class="worker-link">
                <div class="worker-linkpanel text-right">
                    <img src="/images/pic2.jpg" />
                    <div class="worker-right-text">
                        <h3>Worker</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#/careers" class="worker-link">
                <div class="worker-linkpanel text-right">
                    <img src="/images/pic2.jpg" />
                    <div class="worker-right-text">
                        <h3>Worker</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="careers-banner-footer txcenter">
    <h1>Join our team</h1>
    <input type="button" class="btn btn-looking-position" value="See Open Positions" />
</div>
