<!-- tpl {"parent": "app/template/nologin.tpl.html",
        "title": "Contact Upwork", "js":["/scripts/app.js"], "page-tab":"contact"
    } -->
<div class="banner-header txcenter">
    <h1>Contact Upwork</h1>
    <h3>Use the info below to get in touch with us</h3>
</div>
<!--build {"type":"tpl", "ref":"/template/aboutnav.html"}-->
<!--endbuild-->
<div class="txcenter contact-title">
    <h1>Our offices</h1>
</div>
<div class="row txcenter">
    <div class="col-xs-4">
        <h4>GLOBAL HEADQUARTERS</h4>
        <p>
            441 Logue Avenue<br />
            Mountain View, CA 94043<br />
            Phone: 650.316.7500<br />
        </p>
    </div>
    <div class="col-xs-4">
        <h4>GLOBAL HEADQUARTERS</h4>
        <p>
            441 Logue Avenue<br />
            Mountain View, CA 94043<br />
            Phone: 650.316.7500<br />
        </p>
    </div>
    <div class="col-xs-4">
        <h4>GLOBAL HEADQUARTERS</h4>
        <p>
            441 Logue Avenue<br />
            Mountain View, CA 94043<br />
            Phone: 650.316.7500<br />
        </p>
    </div>
</div>
<div class="txcenter contact-title">
    <h1>You'll find us here too</h1>
</div>
<div class="row txcenter">
    <div class="col-xs-6">
        <h4>GLOBAL HEADQUARTERS</h4>
        <p>
            <a href="#">Elance Customer Support</a><br />
            <a href="#">Elance Customer Support</a><br />
            <a href="#">Elance Customer Support</a><br />
        </p>
    </div>
    <div class="col-xs-6">
        <h4>GLOBAL HEADQUARTERS</h4>
        <p>
            <a href="#">Elance Customer Support</a><br />
            <a href="#">Elance Customer Support</a><br />
        </p>
    </div>
</div>

