<div class="banner-header text-center">
    <h1>Contact Upwork</h1>
    <h3>Use the info below to get in touch with us</h3>
</div>
<div class="container text-center">
    <div class="nav-inner-wrapper">
        <ul class="nav nav-pills aboutus-nav">
            <li>
                <a href="#/aboutus">ABOUT US</a>
            </li>
            <li>
                <a href="#/careers">CAREERS</a>
            </li>
            <li>
                <a href="#/team" class="active">OUR TEAM</a>
            </li>
            <li>
                <a href="#/board">BOARD OF DIRECTORS</a>
            </li>
            <li>
                <a href="#/press">PRESS</a>
            </li>
            <li>
                <a href="#/contact">CONTACT US</a>
            </li>
        </ul>
    </div>
</div>
<div class="text-center contact-title">
    <h1>Our offices</h1>
</div>
<div class="row text-center">
    <div class="col-xs-4">
        <h4>GLOBAL HEADQUARTERS</h4>
        <p>
            441 Logue Avenue<br />
            Mountain View, CA 94043<br />
            Phone: 650.316.7500<br />
        </p>
    </div>
    <div class="col-xs-4">
        <h4>GLOBAL HEADQUARTERS</h4>
        <p>
            441 Logue Avenue<br />
            Mountain View, CA 94043<br />
            Phone: 650.316.7500<br />
        </p>
    </div>
    <div class="col-xs-4">
        <h4>GLOBAL HEADQUARTERS</h4>
        <p>
            441 Logue Avenue<br />
            Mountain View, CA 94043<br />
            Phone: 650.316.7500<br />
        </p>
    </div>
</div>
<div class="text-center contact-title">
    <h1>You'll find us here too</h1>
</div>
<div class="row text-center">
    <div class="col-xs-6">
        <h4>GLOBAL HEADQUARTERS</h4>
        <p>
            441 Logue Avenue<br />
            Mountain View, CA 94043<br />
            Phone: 650.316.7500<br />
        </p>
    </div>
    <div class="col-xs-6">
        <h4>GLOBAL HEADQUARTERS</h4>
        <p>
            441 Logue Avenue<br />
            Mountain View, CA 94043<br />
            Phone: 650.316.7500<br />
        </p>
    </div>
</div>

