<section class="section-hero text-center bg-cloud">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h1 class="hero-title">  <strong>Browse top freelancers by their skills</strong></h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="input-group hero-input-group">
                <!--<span class="input-group-addon hero-search-btn"></span>-->
                <input class="form-control hero-search-input" type="text" placeholder="Enter your desired skill name (e.g. Design)">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <h2 class="categorytitle text-center">Designers &amp; Creatives</h2>
            <div class="skill-list">
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">2D Animators</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">3D Animators</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">3D Designers &amp; Artists</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">3D Modelers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">3D Rendering Artists</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">After Effects Experts</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Animators</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Bootstrap Designers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Flash Designers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Graphic Designers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Illustrator Experts</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Illustrators</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">InDesign Experts</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Logo Designers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Photo Editors</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Photoshop Experts</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">PowerPoint Producers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">PSD to HTML Experts</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Sharepoint Designers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">UI Designers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">UX Designers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Video Editors</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Video Producers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Voice Actors</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Web Designers</a>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                <a href="#" class="btn btn-default btn-viewmore">See More</a>
                <hr>
            </div>
        </div>
        <div class="row">
            <h2 class="categorytitle text-center">Programmers &amp; Developers</h2>
            <div class="skill-list">
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">.NET Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Ajax Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Android Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">API Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">ASP.NET Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">C# Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">CSS Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Facebook API Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">HTML Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">HTML5 Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">iOS Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Java Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">JavaScript Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">jQuery Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Magento Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">MySQL Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Objective-C Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">PHP Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Python Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Ruby on Rails Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">SQL Programmers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">SQL Server Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Twitter API Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Twitter Bootstrap Developers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Wordpress Developers</a>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                <a href="#" class="btn btn-default btn-viewmore">See More</a>
                <hr>
            </div>
        </div>
        <div class="row">
            <h2 class="categorytitle text-center">Administrative Support Specialists</h2>
            <div class="skill-list">
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Administrative Support Assistants</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Appointment Setters</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Article Submission Contractors</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">BPO Call Center Agents</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Calendar Management Assistants</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Chat Support Agents</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Computer Skills Freelancers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Customer Service Agents</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Data Entry Specialists</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Data Miners</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Email Handlers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Email Tech Support Agents</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Google Docs Experts</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Google Search Agents</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Google Sheets Experts</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Helpdesk Support Contractors</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Internet Researchers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">PDF Conversion Experts</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Research Assistants</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Skype Assistants</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Technical Support Agents</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Transcriptionists</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Typing Agents</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Virtual Assistants</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Zendesk Freelancers</a>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                <a href="#" class="btn btn-default btn-viewmore">See More</a>
                <hr>
            </div>
        </div>
        <div class="row">
            <h2 class="categorytitle text-center">Writers &amp; Translators</h2>
            <div class="skill-list">
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Academic Writers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Article Writers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Business Writers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Content Writers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Copy Editors</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Copywriters</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Creative Writers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Editors</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">English Writers &amp; Translators</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">French Writers &amp; Translators</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">German Writers &amp; Translators</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Ghostwriters</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Italian Writers &amp; Translators</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Journalists</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Microsoft Word Experts</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Press Release Writers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Proofreaders</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Russian Writers &amp; Translators</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Sales Writers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Screenwriters</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Spanish Writers &amp; Translators</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Technical Writers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Translators</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Web Content Managers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Writers</a>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                <a href="#" class="btn btn-default btn-viewmore">See More</a>
                <hr>
            </div>
        </div>
        <div class="row">
            <h2 class="categorytitle text-center">Finance Professionals</h2>
            <div class="skill-list">
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Accounting Assistants</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Accounts Payable Specialists</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Accounts Receivable Specialists</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Basecamp Specialists</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Bookkeeping Assistants</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Budgeting &amp; Forecasting Contractors</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Business Analysts</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Business Coaches</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Business Development Analysts</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Business Planning Analysts</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Enterprise Resource Planners</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Excel Experts</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Financial Forecasters &amp; Modelers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Financial Reporting Analysts</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Human Resource Managers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">LinkedIn Recruiters</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Negotiation Specialists</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Project Management Analysts</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">QuickBooks Contractors</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Recruiting Assistants</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Scrum Assistants</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Spreadsheet Experts</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Statistics Analysts</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Tax Preparation Specialist</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Xero Contractors</a>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                <a href="#" class="btn btn-default btn-viewmore">See More</a>
                <hr>
            </div>
        </div>
        <div class="row">
            <h2 class="categorytitle text-center">Sales &amp; Marketing Professionals</h2>
            <div class="skill-list">
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Advertising Consultants</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">B2B Marketers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Blog Writers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Brand Strategists</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Cold Callers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">CRM Consultants</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Direct Marketers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Email Marketing Consultants</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Google AdWords Experts</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Google Analytics Consultants</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Google Website Optimizer Consultants</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Internet Marketing Consultants</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Lead Generation Specialists</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Link Builders</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Market Researchers</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Marketing Strategists</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">On-Page Optimization Experts</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Outbound Sales Consultants</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">PPC Specialists</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Sales Consultants</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">SEM Specialists</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">SEO Experts</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Social Media Consultants</a>
                </div>
                <div class="skill col-md-3 col-md-offset-1 col-sm-6 col-xs-12 text-center">
                    <a href="#">Telemarketers</a>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                <a href="#" class="btn btn-viewmore">See More</a>
            </div>
        </div>
    </div>
</section>