
<div class="container">
	<!--tip bar-->
	<div class="row tip-bar" id="tip-bar">

	</div><!--end tip bar-->

	<div class="row search-job">
		<div class="col-xs-3 ald-col-xs-3">
			<h1 class="find-work-label">搜索工作</h1>
		</div><!--end left-->
		<div class="col-xs-9">
			<form>
				<div class="ald-form">
					<input type="text" class="search-input ald-input" name="search-key-words" placeholder="搜索工作" value=""/>
					<input type="submit" class="btn btn-primary ald-btn-primary " value="&nbsp;搜&nbsp;&nbsp;索&nbsp;">
					<div class="advanced-search">
						<a href="javascript:;" class="advanced-search-btn ald-link">高级搜索</a>
					</div>
				</div>
			</form>
		</div><!--end center-->
	</div><!--end search-job-->

	<!--content-->
	<div class="row">
		<div class="col-xs-3 ald-col-xs-3">
			<a class="ald-rss rss-1" href="javascript:;">
				<i class="iconfont">&#xe623;</i>&nbsp;&nbsp;
				<span>猜你喜欢</span>
			</a>
			<a class="ald-rss rss-2" href="javascript:;">
				<i class="iconfont">&#xe623;</i>&nbsp;&nbsp;
				<span>猜你喜欢</span>
			</a>

			<div class="panel panel-default list-panel">
				<div class="panel-heading">
					<h3 class="panel-title">我的分类</h3>
				</div>
				<ul class="list-group ald-list-group">
					<li class="list-group-item"><a href="#">桌面程序开发</a></li>
					<li class="list-group-item">
						<a href="#">手机开发</a><br/>
						<a href="#">网页开发</a>
					</li>
					<li class="list-group-item"><a href="#">修改分类</a></li>
				</ul>
			</div>
		</div><!--end left-->
		<!--start center-->
		<div class="col-xs-6 ald-col-xs-6">
			<h2 id="feed-header" class="feed-header">推荐工作
				<a href="javascript:;" class="pull-right icon-link"><i class="iconfont lg-icon">&#xe623;</i></a>
			</h2>

			<ul class="list-group">
				<li class="list-group-item">
					<h2 class="job-title">
						<a class="job-title-item" href="javascript:;">Java Web开发</a>
						<a class="pull-right glyphicon glyphicon-heart job-title-item-cert icon-link" href="javascript:;"></a>
					</h2>
					<div class="job-detail">
						<span class="job-info">
							<strong>小时</strong>
							-<span>货币($)</span>
							<span>开发时间：3-6月</span>,
							<span>发布时间：7天以前</span>
						</span>
						<p class="job-desc">
							这个是项目的描述，这个是项目的描述，这个是项目的描述，这个是项目的描述
							<a href="javascript:;">更多</a>
						</p>
						<div>
							<label>
								<strong>Client: </strong>
								<div style="display:inline-block; width:30px; height:15px; overflow:hidden; background:#E0E0E0; border-radius:5px;">
									<div style="width:10px;height:15px; background:#7BD454; display:inline-block;">
									</div>
									<span>$</span>
								</div>
								<span>
									<span class="icon-active glyphicon glyphicon-star"></span>
									<span class="icon-active glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
								</span>
							</label>
							<label>
								<span>技能: </span>
								<a class="tag-item" href="javascript:;">javascript</a>
								<a class="tag-item" href="javascript:;">javascript</a>
								<a class="tag-item" href="javascript:;">javascript</a>
								<a class="tag-item" href="javascript:;">javascript</a>
							</label>
						</div>
					</div>
				</li><!--end job item-->
			</ul>
		</div><!--end center-->
		<div class="col-xs-3 ald-col-xs-3">

			<div class="panel panel-default list-panel">
				<div class="panel-heading">
					<h3 class="panel-title">我的信息</h3>
				</div>
				<ul class="list-group ald-list-group">
					<li class="list-group-item">
						<div class="photo-sm-box">
							<img src="../images/user.png" class="photo-sm img-circle"/>
						</div>
						<div class="info-progress">
							<div class="info-progress-bar"><div></div></div>
							<span class="percentage">70%</span>
						</div>
						<a href="javascript:;">
							<i class="iconfont">&#xe619;</i>
							&nbsp;&nbsp;Take a Skill Test
						</a>
					</li>

					<li class="list-group-item"><a href="#">修改资料</a></li>
				</ul>
			</div>
			<div class="panel panel-default list-panel">
				<div class="panel-heading">
					<h3 class="panel-title">我的分类</h3>
				</div>
				<ul class="list-group ald-list-group">
					<li class="list-group-item"><a href="#">桌面程序开发</a></li>
					<li class="list-group-item">
						<a href="#">手机开发</a><br/>
						<a href="#">网页开发</a>
					</li>
					<li class="list-group-item"><a href="#">修改分类</a></li>
				</ul>
			</div>

			<a class="item-link" href="javascript:;">
				<span class="glyphicon glyphicon-envelope" href="javascript:;"></span>&nbsp;&nbsp;
				<span>猜你喜欢</span>
			</a>
			<a class="item-link" href="javascript:;">
				<span class="glyphicon glyphicon-envelope" href="javascript:;"></span>&nbsp;&nbsp;
				<span>猜你喜欢</span>
			</a>

		</div><!--end right-->
	</div>
</div><!--end content container-->
