<div class="container">
	<!--tip bar-->
	<div class="row tip-bar" id="tip-bar">

	</div><!--end tip bar-->

	<!--start center-->
	<div class="row">
		<h3 class="page-title">个人资料</h3>
		<div class="col-xs-9">
			<div class="mp-box mp-overview clearfix">
				<div class="mp-user-photo">
					<img class="img-circle photo-100" src="../../images/user.png"/>
				</div>
				<div class="mp-user-info1">
					<div class="mp-user-base">
						<div class="my-user-name-label">
							<a href="javascript:;" class="mp-user-name">Tu XianMing</a>
							<a href="javascript:;" class="mp-rate-hour pull-right">￥100.00/hr</a>
						</div>
						<div style="padding:15px 0px; ">
							<a href="javascript:;" class="mp-job-title">TOP TEN Full time J2EE expert freelancer</a>
						</div>
					</div>
					<div class="mp-user-location">
						<address><i class="iconfont">&#xe626;</i> ChangSha, China - <span class="mp-localtime">10:52pm</span></address>

					</div>
					<div class="mp-skils-container">
						<a href="javascript:;" class="tag tag-edit">Google App Engine</a>
						<a href="javascript:;"  class="tag"><span>Google App Engine</span><i class="iconfont">&#xe61c;</i></a>
						<a href="javascript:;"  class="tag"><span>Google App Engine</span><i class="iconfont">&#xe61c;</i></a>
						<a href="javascript:;"  class="tag"><span>Google App Engine</span><i class="iconfont">&#xe61c;</i></a>
						<a href="javascript:;"  class="tag"><span>Google App Engine</span><i class="iconfont">&#xe61c;</i></a>
						<a href="javascript:;"  class="tag"><span>Google App Engine</span><i class="iconfont">&#xe61c;</i></a>
						<a href="javascript:;"  class="tag"><span>Google App Engine</span><i class="iconfont">&#xe61c;</i></a>
						<a href="javascript:;"  class="tag"><span>Google App Engine</span><i class="iconfont">&#xe61c;</i></a>
					</div>
				</div>

				<div class="mp-overview-container">
					<div href="javascript:;" class="mp-overview-label">Overview</div>
<textarea cols="100" rows="10" disabled="disabled" class="mp-overview-text">	Hi, I am an Expert in Java development with 10 +years experience.

In Upwork I have completed 20+ projects successfully, and gain great client feedback. As  a FULL TIME freelancer, I have worked here over 15,000 hours.

I am a professional guy and know how to get this done. Since 2008, I have been working with US clients and maintaining/enhancing their system.

Contact me, and you will feel good to work with me!

</textarea>
				</div>
			</div><!--end overview-->

			<div class="mp-box  mp-work-history clearfix">
				<div class="mp-title">
					<h3 class="mp-title-text">Work History and Feedback</h3>
					<div class="dropdown mp-work-filter pull-right">
						<a class="dropdown-toggle ald-dropdown-toggle " data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<span class="filter-selected-label">Newest first</span><span class="caret"></span>
						</a>
						<ul class="dropdown-menu ald-dropdown-menu mp-work-filter-options">
							<li>Newest first</li>
							<li>Highest rated</li>
							<li>Lowest rated</li>
							<li>Largest projects</li>
						</ul>
					</div>
				</div>
				<ul class="mp-list mp-works">
					<li class="clearfix" ng-repeat="i in array">
						<div class="mp-works-left">
							<a class="mp-works-name link-underline" href="javascript:;">J2EE Web Developer</a>
							<div class="mp-works-date">2015年9月 -  2016年4月</div>

							<div class="mp-works-score">
								<span class="iconfont mp-works-stars">&#xe627;&#xe627;&#xe627;&#xe627;&#xe627;</span>
								<span class="mp-works-score-num">5.0</span>
							</div>

							<div class="mp-works-appraise">
								This has been an excellent freelancer to work with and I wouldn't hesitate to hire him again for future projects.
							</div>
						</div>
						<div class="mp-works-right">
							<div class="mp-works-total-time">4,000.00 hours</div>
							<div class="mp-works-hour-rate">￥30 / hr</div>
							<div class="mp-works-total-amount">￥10000.00 eanred</div>
						</div>
					</li><!--end item-->
				</ul>
				<a href="javascript" class="mp-work-more link-underline">view more</a>(47)
			</div><!--end work history-->

			<div class="mp-box mp-protfolio">
				<div class="mp-title">
					<h3 class="mp-title-text mp-title-hover">Portfolio</h3>
					<div class="dropdown mp-protfolio-filter pull-right">
						<a class="dropdown-toggle ald-dropdown-toggle " data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<span class="protfolio-selected-label">All categories</span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu ald-dropdown-menu mp-protfolio-filter-options">
							<li>All categories</li>
							<li>Ecommerce Development</li>
							<li>Web Development</li>
						</ul>
					</div>
				</div>
				<ul class="mp-list mp-protfolios">
					<li  class="mp-pf-item" ng-repeat="it in array1">
						<div ng-mouseenter="isShowPfControls=true" ng-mouseleave="isShowPfControls=false">
							<div class="mp-pf-thumb">
								<img src="../images/example.png"/>
								<div class="mp-pf-controls" ng-show="isShowPfControls">
									<a href="javascript:;" class="iconfont link-underline">&#xe628;</a>
									<a href="javascript:;" class="iconfont link-underline">&#xe608;</a>
									<a href="javascript:;" class="iconfont link-underline">&#xe604;</a>
								</div>
							</div>
							<div class="mp-pf-text" href="javascript:;">
								Online shopping site
							</div>
						</div>
					</li><!--end item-->
				</ul>
			</div><!--end protfolio-->

			<div class="mp-box mp-certifications">
				<div class="mp-title">
					<h3 class="mp-title-text mp-title-hover">Certifications</h3>
				</div>
				<ul class="mp-list mp-certifications">
					<li class="mp-cer-item">
						No items to display.
					</li><!--end item-->
				</ul>
			</div><!--end certifications -->

			<div class="mp-box mp-tests">
				<div class="mp-title">
					<h3 class="mp-title-text mp-title-hover">Tests</h3>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Score(out of 5)</th>
							<th>Time to <br/>Complete</th>
							<th>Display on profile</th>
						</tr>
					</thead>
					</tbody>
						<tr>
							<td class="col-xs-4">Upwork Readiness Test for Independent Contractors and Company Managers</td>
							<td><span class="mp-test-item-score">5.00</span><span class="mp-test-item-sort test-sort-first">1st Place!</span></td>
							<td>1 min</td>
							<td>
								<div class="btn-group" role="group" aria-label="radio">
									<button class="btn btn-radio-yes btn-radio-active" aria-label="radio">Yes</button>
									<button class="btn btn-radio-no btn-radio-unactive" aria-label="radio">No</button>
								</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Google App Engine Test</td>
							<td><span class="mp-test-item-score">5.00</span><span class="mp-test-item-sort test-sort-top1">Top 10%</span></td>
							<td>17 mins</td>
							<td>
								<div class="btn-group" role="group" aria-label="radio">
									<button class="btn btn-radio-yes btn-radio-unactive" aria-label="radio">Yes</button>
									<button class="btn btn-radio-no btn-radio-active" aria-label="radio">No</button>
								</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Google App Engine Test</td>
							<td><span class="mp-test-item-score">5.00</span><span class="mp-test-item-sort test-sort-failed">Failed</span></td>
							<td>17 mins</td>
							<td>
								<div class="btn-group" role="group" aria-label="radio">
									<button class="btn btn-radio-yes btn-radio-unactive" aria-label="radio">Yes</button>
									<button class="btn btn-radio-no btn-radio-active" aria-label="radio">No</button>
								</div>
							</td>
						</tr>
						<tr>
							<td class="col-xs-4">Google App Engine Test</td>
							<td><span class="mp-test-item-score">5.00</span><span class="mp-test-item-sort test-sort-blowavg">Below Average</span></td>
							<td>17 mins</td>
							<td>
								<div class="btn-group" role="group" aria-label="radio">
									<button class="btn btn-radio-yes btn-radio-unactive" aria-label="radio">Yes</button>
									<button class="btn btn-radio-no btn-radio-active" aria-label="radio">No</button>
								</div>
							</td>
						</tr>
				</table>
			</div><!--end tests -->

			<div class="mp-box mp-other">
				<div class="mp-title">
					<h3 class="mp-title-text mp-otner-title">Employment History</h3>
				</div>
				<ul class="mp-list mp-others">
					<li class="mp-other-item" ng-mouseenter="isOtherEdit=true" ng-mouseleave="isOtherEdit=false" ng-repeat="i in array2">
						<span>System Designer and Developer | HP support center</span>
						<div ng-show="isOtherEdit" class="mp-other-edit">
							<i class="iconfont">&#xe608;</i>
							<i class="iconfont">&#xe604;</i>
						</div>
						<br/>
						<span>June 2005 - January 2008</span><br/>
						<span>I acted as a core developer and system analysis in my team.  Two large ERP system were done by my team.  And I  provided  the maintenance service alone for 2 years
						</span>
					</li><!--end item-->

				</ul>
			</div><!--end Employment History -->

			<div class="mp-box mp-other">
				<div class="mp-title">
					<h3 class="mp-title-text mp-otner-title">Education</h3>
				</div>
				<ul class="mp-list mp-others">
					<li class="mp-other-item" ng-mouseenter="isOtherEdit=true" ng-mouseleave="isOtherEdit=false" ng-repeat="i in array2">
						<span>Other, HongKong | BEA training center</span>
						<div ng-show="isOtherEdit" class="mp-other-edit">
							<i class="iconfont">&#xe608;</i>
							<i class="iconfont">&#xe604;</i>
						</div>
						<br/>
						<span>2005 - 2008</span><br/>
						<span>Learn the BEA platform, including Weblogic, Portal, and Integration System.
						</span>
					</li><!--end item-->
				</ul>
			</div><!--end Employment History -->
		</div><!--end left-->

		<!--start right-->
		<div class="col-xs-3 mp-right-container">
			<button class="btn btn-full mp-view-moreprofile">Profile Settings</button>
			<div><a class="link link-underline" href="javascript:;">View my profile as others see it</a></div>
			<hr>
			<div>
				<div>100% Job Success</div>
				<div class="mp-job-percent-full">
					<div class="mp-job-percent"></div>
				</div>
			</div>

			<div><i class="iconfont">&#xe625;</i>TOP RATED&nbsp;&nbsp;<i class="iconfont">&#xe611;</i></div>
			<div class="mp-right-item">
				<h4>Work History</h4><br/>
				<p>5000,00 hours worked</p><br/>
				<p>100 jobs</p><br/>
			</div>
			<div class="mp-right-item mp-availability">
				<h4>Availability&nbsp;&nbsp;&nbsp;</h4><br/>
				<p>Available</p><br/>
				<p>More than 30 hrs/week</p><br/>
			</div>
			<div class="mp-right-item">
				<h4>Profile Link</h4><br/>
				<input type='text' size="20" readonly="readonly"/><br/>
				<a href="javascript:;" class="link link-underline mp-copy-link">Copy Link</a><br/>
			</div>
			<div class="mp-right-item mp-languages">
				<h4>Languages</h4><br/>
				<p>English: Fluent&nbsp;&nbsp;<i class="iconfont">&#xe608;</i></p><br/>
				<p>Chinese: Native or Bilingual&nbsp;<i class="iconfont">&#xe604;</i><i class="iconfont">&#xe608;</i></p><br/>
			</div>

			<div class="mp-right-item">
				<h4>Associated with</h4>
				<div class="mp-associated">
					<div class="mp-associated-icon"><i class="iconfont">&#xe620;</i></div>
					<div class="mp-associated-label">
						<a class="link-underline" href="javascript:;">SkyWalker</a><br/>
						<span>70 hours</span>
					</div>
				</div>
			</div>
		</div><!--end right-->
	</div><!--end row-->
</div><!--end content container-->
